[2019-01-12 06:26] Ace-Bansal opened #1 "Add yourself to the participant section"
Welcome to your first task! This issue is mandatory for all the participants.
Follow this link to solve your first issue!
[How to add myself as a participant?](https://github.com/opencodeiiita/Opencode-Collaborative-19#adding-yourselves-to-participant-section)

[2019-01-12 06:32] zerefwayne opened #2 "Change design of the hero image."
![image](https://user-images.githubusercontent.com/28949397/51070119-a48f3c00-1661-11e9-9cac-d476c8309192.png)

This doesn't look good right now. Try to make the design better.

[2019-01-12 06:37] Archies11 commented on #2
@opencodebot claim

[2019-01-12 06:43] zerefwayne opened #3 "Add links in the header to navigate to Participants, Mentors and Projects sections of the page."

[2019-01-12 06:47] pradeepgangwar opened #4 "Add Pull Request Template"
Add pull request template for this repository. For more information on how to do this refer [this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/).

[2019-01-12 06:48] Archies11 commented on #3
@opencodebot claim

[2019-01-12 06:51] zerefwayne commented on #3
@Archies11 You cannot claim two issues at a time. Please go through the contribution guidelines first.

[2019-01-12 06:56] Archies11 commented on #4
@openbot claim

[2019-01-12 06:58] devgupta2607 commented on #3
@opencodebot claim

[2019-01-12 07:03] thesmallstar commented on #3
@opencodebot claim

[2019-01-12 07:04] zerefwayne commented on #4
@Archies11 Please make a PR for the first issue that you've claimed. This issue can be claimed.

[2019-01-12 07:08] zerefwayne commented on #3
@thesmallstar Please don't try to claim an issue already assigned to someone else.

[2019-01-12 07:12] Archies11 commented on #2
@zerefwayne Sir, I am not sure how should I proceed, which platform to be precise to edit this image. Please help me out.

[2019-01-12 07:13] zerefwayne commented on #2
@Archies11 Add a background image to the container and change the text to make it look better. You've to just modify the HTML and CSS.

[2019-01-12 07:14] Archies11 commented on #2
@zerefwayne Okay, thank you sir.

[2019-01-12 07:20] ananya-agrawal opened #6 "Generate github resume"
Opt-In for Github Resume service by staring the following project - [Repo](https://github.com/resume/resume.github.com)

After generating the resume, share your resume link to get points

Visit the project repo to read resume generating instructions

[2019-01-12 07:22] zerefwayne opened #7 "Add all the projects to the Projects section on the page."
Add the projects in projects.json in the correct format.

You can find the projects managed by Team OpenCode here : https://github.com/opencodeiiita
You can find the projects here : https://opencodeiiita.github.io/#works

[2019-01-12 07:24] ananya-agrawal opened #8 "Add opencode logo to the website"

[2019-01-12 07:28] ananya-agrawal opened #9 "Add mentors to the website"
Add all the mentors present in the organisation to data/mentors.json
projects under opencode org can be found here: [opencode](https://github.com/opencodeiiita)

[2019-01-12 07:31] ananya-agrawal opened #11 "Add github, fb, twitter links of opencode to footer"

[2019-01-12 07:38] ananya-agrawal commented on #1
You can check whether it's a valid JSON or not before making a pr using https://jsonlint.com/

[2019-01-12 07:45] Jaggu-123 commented on #7
@zerefwayne I will do this

[2019-01-12 07:53] Nelson-Chinedu commented on #11
@opencodebot claim

[2019-01-12 07:55] Ace-Bansal opened #13 "Add styling to the headings."
The headings in question are 'Participants', 'Mentors' and 'Projects'.
Center them and increase their size as well.

[2019-01-12 07:59] zerefwayne commented on #11
@Nelson-Chinedu You can work on this. :+1:

[2019-01-12 08:04] Ace-Bansal opened #15 "Make cards for participants."
The participants should be displayed in a separate card.
![cards](https://user-images.githubusercontent.com/34866483/51070888-add2d580-166e-11e9-823b-0ee310e401ed.jpg)
Take a look at these cards for reference.

[2019-01-12 08:08] zerefwayne commented on #15
You can use Bootstrap 4 cards.

[2019-01-12 08:10] Ace-Bansal opened #16 "Make cards for mentors."
The mentors should be displayed in separate cards.
![cards](https://user-images.githubusercontent.com/34866483/51070932-8defe180-166f-11e9-82ce-2f4f575e698f.jpg)
Take a look at these cards for reference.
You may use use Bootstrap 4 cards.

[2019-01-12 08:13] ujjwal-batra commented on #13
i want to work on it

[2019-01-12 08:13] Ace-Bansal commented on #13
Sure. Go ahead.

[2019-01-12 08:15] chi50800 commented on #13
i also want to work on it

[2019-01-12 08:16] Jahanvi21 commented on #13
i wanna work on it too!

[2019-01-12 08:17] Ace-Bansal commented on #13
@chi50800 @Jahanvi21 This issue can't be assigned to you at this point of time. @ujjwal-batra commented first, so he gets the issue. Try looking at the other issues.

[2019-01-12 08:19] Ace-Bansal commented on #13
Also please solve issue #1 'Add yourselves to the participants section' first.

[2019-01-12 08:48] zerefwayne opened #24 "A default photo should be displayed whenever no photo URL is specified by participant."
![image](https://user-images.githubusercontent.com/28949397/51071304-dc53af00-1674-11e9-8159-381f34e4465e.png)

[2019-01-12 08:49] ayush638 commented on #8
Can I work on this issue

[2019-01-12 09:06] ayush638 commented on #11
Can I work on this

[2019-01-12 09:06] thesmallstar commented on #24
@opencodebot claim

[2019-01-12 09:14] Rattlecode17sh commented on #11
I want to work on this issue

[2019-01-12 09:31] pradeepgangwar commented on #8
Assigned to @ayush638

[2019-01-12 09:33] Ace-Bansal commented on #24
Assigned to @thesmallstar

[2019-01-12 09:35] Anupam-dagar opened #27 "Fix Broken participant image."
![opencode 2019 collaborative 12-01-2019 15-04-44](https://user-images.githubusercontent.com/21174572/51071702-6c94f280-167b-11e9-954a-90875d33a650.png)

The image is broken. It needs to be fixed.

[2019-01-12 09:42] thesmallstar commented on #24
@zerefwayne
![screenshot_5](https://user-images.githubusercontent.com/42006277/51071756-3ad05b80-167c-11e9-9760-6feca39f70b4.png)

Archies11 provided the url, but did not upload the image. Does this also cover the following case( image not found) or only the blank url condition?

[2019-01-12 09:54] manigedit commented on #4
@opencodebot  claim

[2019-01-12 10:12] mohammed-adil commented on #6
mohammed-adil: http://resume.github.io/?mohammed-adil

[2019-01-12 10:15] neerajd007 commented on #6
neerajd007: https://resume.github.io/?neerajd007

[2019-01-12 10:16] mohammed-adil commented on #15
@opencodebot claim

[2019-01-12 10:17] mohammed-adil commented on #15
@Ace-Bansal The participants are already displayed in squares (I think so), I only have to make a card container for it right?

[2019-01-12 10:18] mohammed-adil commented on #16
@opencodebot claim

[2019-01-12 10:20] Ace-Bansal commented on #15
Make a card container. Style it to display the info in a structured manner. Display the social links of the participants as well.

[2019-01-12 10:20] devgupta2607 commented on #3
Added a PR for this issue @zerefwayne

[2019-01-12 10:22] mohammed-adil commented on #15
ok, I'll do it than

[2019-01-12 10:31] zerefwayne commented on #24
Yes it does cover the blank url condition. But image not found needs to be managed as well.

[2019-01-12 10:31] parag1201 commented on #16
@opencodebot claim

[2019-01-12 10:35] Ace-Bansal commented on #15
Assigned to @mohammed-adil

[2019-01-12 10:36] Ace-Bansal commented on #16
@mohammed-adil already has an issue assigned to him. @nucelya this one's been assigned to you.

[2019-01-12 10:40] CoderJolly commented on #24
pls let me know, if th issue remains unsolved........i would like to try next

[2019-01-12 10:43] mohammed-adil commented on #15
Hey @Ace-Bansal can i use font-awesome library for social-media icons?

[2019-01-12 10:47] Ace-Bansal commented on #15
Sure

[2019-01-12 10:47] zerefwayne commented on #24
@CoderJolly You can help @thesmallstar out with it. :+1: A healthy discussion always results in a good patch.

[2019-01-12 10:49] zerefwayne commented on #27
@parag1201 Assigned to you.

[2019-01-12 10:51] mohammed-adil commented on #15
@Ace-Bansal One more thing what about the people who didn't add their social media links?(like me😅)
Should i add js condition for it?

[2019-01-12 10:57] sourabh1031 commented on #9
I would like to take this

[2019-01-12 10:59] Anupam-dagar commented on #27
@parag1201 closing this as it is a duplicate of #24.

[2019-01-12 10:59] #27 closed

[2019-01-12 11:02] Anupam-dagar opened #35 "Create a landing page."
The current landing page looks too plain. Make an aesthetic looking landing page for the website.
Do a google search for good looking landing pages. For reference, take a look at https://opencodeiiita.github.io
![opencode 2019 collaborative 12-01-2019 16-30-49](https://user-images.githubusercontent.com/21174572/51072477-70c70d00-1687-11e9-8580-6966f525e2b2.png)

[2019-01-12 11:05] thesmallstar commented on #24
@zerefwayne ok I will manage both the issues.

[2019-01-12 11:08] mohammed-adil commented on #35
@opencodebot claim

[2019-01-12 11:11] Anupam-dagar commented on #35
@mohammed-adil assigned.
Feel free to discuss over design in the issue comments.

[2019-01-12 12:10] Rattlecode17sh commented on #6
Lalit Sharma(Rattlecode17sh) :- http://resume.github.io/?Rattlecode17sh

[2019-01-12 12:13] zerefwayne commented on #15
@mohammed-adil That would be great. Go ahead :+1:

[2019-01-12 12:34] Anupam-dagar commented on #35
@zerefwayne let both of them exist, the title of #2 makes it a minor issue of changing the text and adding an image, this serves as a complete makeover for the landing page. This issue might take a little time while #2 will be a quick fix.

[2019-01-12 12:42] Anupam-dagar opened #38 "Fix competitive coding project card title."
The text is coming as technical writing for competitive coding repo.
![opencode 2019 collaborative 12-01-2019 18-11-30](https://user-images.githubusercontent.com/21174572/51073354-9529e600-1695-11e9-8a12-abb0d2d7159e.png)

[2019-01-12 13:08] sourabh1031 commented on #9
@opencodebot claim

[2019-01-12 13:18] Rattlecode17sh commented on #38
i want to take this issue

[2019-01-12 13:34] mohammed-adil commented on #15
Hey @zerefwayne I can't write an if statement within a variable!
What i see is a single variable(participantDiv) is used to represent the data of a participant, and within that variable I'm unable to execute a if condition.
I have designed the UI tho, have a look at it in screen shot.
![pic](https://user-images.githubusercontent.com/31363829/51073801-49c70600-169c-11e9-970b-f6aed8edd5de.png)

Ther

[2019-01-12 13:39] mohammed-adil commented on #35
@zerefwayne @Anupam-dagar I can do the whole page in a day or two!
Need some suggestions though!
Any reference i should look into?

[2019-01-12 13:39] Rattlecode17sh commented on #38
@opencodebot claim

[2019-01-12 13:48] zerefwayne commented on #35
Decide a good color scheme (I'll suggest using a flat color scheme) first, and a font (OpenSans). And then redesign the page by tweaking CSS properties. Look at some landing page examples for guidance.

[2019-01-12 13:57] mohammed-adil commented on #35
ok i'll look into it

[2019-01-12 14:12] sourabh1031 commented on #9
@opencodebot claim

[2019-01-12 14:13] Anupam-dagar commented on #35
@mohammed-adil It will be good if you can look for some ideas online and ask a review on them.
you can also take a look at idea given by @zerefwayne

[2019-01-12 14:15] Anupam-dagar commented on #38
complete in [#39](https://github.com/opencodeiiita/Opencode-Collaborative-19/pull/39)

[2019-01-12 14:15] #38 closed

[2019-01-12 14:15] punisher1151 commented on #8
my username is changed to punisher1151 can you reassign me the same job  @pradeepgangwar

[2019-01-12 14:16] Anupam-dagar commented on #4
@manigedit Please make a Pull Request for your commit.

[2019-01-12 14:51] mohammed-adil commented on #15
@Ace-Bansal @zerefwayne anyone??

[2019-01-12 15:06] punisher1151 commented on #13
@opencodebot claim

[2019-01-12 15:43] zerefwayne commented on #15
@mohammed-adil The design is fine. You won't be able to write a condition in a variable. Use some javascript function to do that job for you. What do you actually want to do?

[2019-01-12 15:46] punisher1151 commented on #8
logo should be placed in navbar or anywhere else

[2019-01-12 15:46] mohammed-adil commented on #15
It wasn't asked in the issue!, but wanted to create a method that will not display social media links if tit isn't provided by participants.

[2019-01-12 15:57] pradeepgangwar commented on #8
In navbar

[2019-01-12 16:11] punisher1151 commented on #8
@pradeepgangwar I have some proposed changes please review it
![screenshot from 2019-01-12 21-37-06](https://user-images.githubusercontent.com/42278252/51075544-cb299300-16b2-11e9-8cc7-cf1d5050abd5.png)
![screenshot from 2019-01-12 21-36-46](https://user-images.githubusercontent.com/42278252/51075545-cb299300-16b2-11e9-8a55-9a96bff7cab6.png)

[2019-01-12 16:14] pradeepgangwar commented on #8
@punisher1151 Please make a PR we will discuss there.

[2019-01-12 16:36] Anupam-dagar opened #52 "Sign the OpenCode'19 Code of Conduct"
To be considered as a valid OpenCode'19 participant, you need to accept the code of conduct for the OpenCode'19. Do so by filling the form below.
https://goo.gl/forms/nrKfLmwuy6D2UCWw1

[2019-01-12 16:38] Anupam-dagar commented on #35
this issue shouldn't affect those components. they can be done separately by other participants.

[2019-01-12 16:55] ashish4321 commented on #6
ashish4321: http://resume.github.io/?ashish4321

[2019-01-12 16:57] BinduVerma123 commented on #6
Bindu Verma — https://github.com/BinduVerma123

[2019-01-12 16:57] KeshavSharma21099 commented on #7
@opencodebot claim

[2019-01-12 16:59] KeshavSharma21099 commented on #7
@opencodebot claim

[2019-01-12 17:00] shivhek25 commented on #6
shivhek25 : http://resume.github.io/?shivhek25

[2019-01-12 17:00] thesmallstar commented on #24
@zerefwayne  issue was fixed and merged :)

[2019-01-12 17:02] BinduVerma123 commented on #6
BinduVerma123 :- https://resume.github.io/?BinduVerma123

[2019-01-12 17:03] ananya-agrawal opened #53 "Add a preloader"

[2019-01-12 17:04] chain-breaker commented on #11
i want to work on this

[2019-01-12 17:07] BinduVerma123 commented on #53
@opencodebot claim

[2019-01-12 17:09] Rattlecode17sh commented on #53
@opencodebot claim

[2019-01-12 17:12] BinduVerma123 commented on #53
@opencodebot claim

[2019-01-12 17:18] ananya-agrawal commented on #53
assigned to @BinduVerma123

[2019-01-12 17:21] Rattlecode17sh commented on #53
Can i also work on this issue??

[2019-01-12 17:30] Rattlecode17sh commented on #53
Okay

[2019-01-12 17:34] ananya-agrawal opened #57 "Make participant cards flipped on click"
Add "about" to come on the backside of card when flipped

[2019-01-12 17:34] Rattlecode17sh commented on #57
@opencodebot  claim

[2019-01-12 17:35] BinduVerma123 commented on #53
@ananya-agrawal ma'm exactly where the preloader have to be added?

[2019-01-12 17:37] ananya-agrawal opened #58 "Add animation to main landing page"
You may take any cool animation from codepen or some other resources.

[2019-01-12 17:38] ananya-agrawal opened #60 "Sort participants name in alphabetic order"
The names in json is increasing. When displayed show them alphabetically

[2019-01-12 17:39] ananya-agrawal opened #61 "Suggest new issues"

[2019-01-12 17:40] Rattlecode17sh commented on #57
@ananya-agrawal  i want to solve this issue

[2019-01-12 17:57] punisher1151 opened #63 "Fix : Image size of participants (not of proper size)"

[2019-01-12 18:05] littleprodigy commented on #60
Claim

[2019-01-12 18:06] littleprodigy commented on #60
@ananya-agrawal I want to solve

[2019-01-12 18:10] punisher1151 commented on #57
@opencodebot claim

[2019-01-12 18:30] nucelya commented on #58
@opencodebot claim

[2019-01-12 18:32] nucelya commented on #57
@opencodebot claim

[2019-01-12 19:01] aswinzz commented on #61
Do not create issues directly.. comment the issues here and we will be creating issues based on your comments.

[2019-01-12 19:03] aswinzz commented on #53
@BinduVerma123  when the page loads!

[2019-01-12 19:03] aswinzz commented on #60
@littleprodigy you can work on it

[2019-01-12 19:06] zerefwayne commented on #61
### 10 points for each issue accepted by us.

Make sure the issues you comment here are meaningful and aren't duplicate.

[2019-01-12 19:17] NamanDeept commented on #61
Instead of keeping the participants section ,mentors section and the projects section in a single page one after the other, we can make 3 tab buttons of participants ,mentors and the projects. So that when the user clicks participants ..the participants section will be shown and other respectively.This will reduce the page size

[2019-01-12 19:44] vikash-kr commented on #6
vikash-kr : http://resume.github.io/?vikash-kr

[2019-01-12 20:15] mohammed-adil commented on #61
Add pagination to participant section, since many participants are sending new PR to update participant count with their details.

[2019-01-12 20:38] chiillax commented on #1
@opencodebot claim

[2019-01-12 20:39] ankichd11 commented on #57
i want to work on this

[2019-01-12 20:47] coding-clown commented on #2
help me where the submit code for this issue. I am new to Github and opensource

[2019-01-12 20:54] chiillax commented on #1
#70

[2019-01-12 20:57] chiillax commented on #1
#70

[2019-01-12 21:01] chiillax commented on #1
@opencodebot unclaim

[2019-01-12 21:01] chiillax commented on #1
#70

[2019-01-12 22:00] palak2001 commented on #2
@opencodebot claim

[2019-01-12 22:38] palak2001 commented on #2
![opencode](https://user-images.githubusercontent.com/44226699/51079194-eb744480-16e8-11e9-8e1c-31d0481db5f4.jpg)

[2019-01-12 22:46] palak2001 commented on #7
@opencodebot claim

[2019-01-12 22:52] palak2001 commented on #2
@opencodebot claim

[2019-01-12 22:56] Adadysgirl commented on #2
@opencodebot  claim

[2019-01-12 23:00] chiillax commented on #60
@opencodebot claim

[2019-01-12 23:15] palak2001 commented on #13
@opencodebot claim

[2019-01-12 23:30] chiillax commented on #6
chiillax :  https://resume.github.io/?chiillax

[2019-01-13 03:02] ananya-agrawal commented on #57
Issue is assigned to @Rattlecode17sh

[2019-01-13 04:55] punisher1151 commented on #61
Fix : Add scroll back to top button in footer

[2019-01-13 05:06] manigedit commented on #4
@Anupam-dagar  Please review

[2019-01-13 05:10] parag1201 commented on #57
@opencodebot claim

[2019-01-13 05:11] neerajd007 commented on #2
@opencodebot claim

[2019-01-13 05:12] pradeepgangwar commented on #4
@manigedit Please make a pull request for your commit. If you don't know how to create a pull request read this https://help.github.com/articles/creating-a-pull-request/

[2019-01-13 05:13] neerajd007 commented on #2
@opencodebot claim

[2019-01-13 05:13] parag1201 commented on #2
@opencodebot claim

[2019-01-13 05:16] punisher1151 commented on #58
@opencodebot claim

[2019-01-13 05:16] sourabh1031 commented on #9
@ananya-agrawal it is better to keep the issue remain open because there are currently only 3 people in the list. I am sending a pr without mentioning closes #issue_number. Please tell me is it okay

[2019-01-13 05:17] punisher1151 commented on #57
@opencodebot claim

[2019-01-13 05:31] Archies11 commented on #2
Sir, this issue was assigned to me yesterday. I am not sure if it can be reassigned to someone else within the same day. Is the issue still mine?Or am i allowed to claim another issue? @zerefwayne

[2019-01-13 05:35] punisher1151 commented on #11
@opencodebot claim

[2019-01-13 05:36] punisher1151 commented on #11
@opencodebot claim

[2019-01-13 05:37] punisher1151 commented on #11
@opencodebot claim

[2019-01-13 05:52] ashish4321 commented on #61
@ananya-agrawal
Move the Copyright content from middle of the footer to bottom left. It does not look nice in the middle.
Also remove the extra space between footer and projects section.

[2019-01-13 05:55] Archies11 commented on #6
Archies11: https://resume.github.io/?Archies11

[2019-01-13 05:57] ashish4321 commented on #61
@ananya-agrawal
Fix: Clicking on the Partcipants and Mentors card should redirect to their respective Github profiles.

[2019-01-13 05:58] punisher1151 commented on #11
@opencodebot claim

[2019-01-13 05:59] punisher1151 commented on #53
@opencodebot claim

[2019-01-13 06:02] B3ingALearner commented on #6
B3ingALearner:  https://resume.github.io/?B3ingALearner

[2019-01-13 06:02] punisher1151 commented on #57
@opencodebot claim

[2019-01-13 06:06] punisher1151 commented on #57
@opencodebot claim

[2019-01-13 06:07] punisher1151 commented on #57
@opencodebot claim

[2019-01-13 06:13] Rajatsharma1007 commented on #6
Rajatsharma1007: https://resume.github.io/?Rajatsharma1007

[2019-01-13 06:16] zerefwayne commented on #2
@Archies11 You can take up another issue once you've got PR merged for previous one.

@parag1201 @neerajd007 @Adadysgirl @coding-clown This issue had already been assigned to @Archies11 Please do not try to claim issues if you see they have already been assigned to someone else.Further such offences might start fetching you negative points and will affect your leaderboard positions.

[2019-01-13 06:20] zerefwayne opened #85 "Add a scroll-to-top button in the footer."

[2019-01-13 06:23] zerefwayne opened #86 "Add pagination to participants and projects section."
12 participants on one page would be preferrable.

[2019-01-13 06:31] ashish4321 commented on #85
@opencodebot claim

[2019-01-13 06:33] punisher1151 commented on #6
punisher1151 : https://resume.github.io/?punisher1151

[2019-01-13 06:35] punisher1151 commented on #86
@opencodebot claim

[2019-01-13 06:37] punisher1151 commented on #86
@opencodebot claim

[2019-01-13 06:39] punisher1151 commented on #86
@opencodebot claim

[2019-01-13 06:40] punisher1151 commented on #86
@zerefwayne can i work on this issue

[2019-01-13 06:40] mohammed-adil commented on #61
@zerefwayne @ananya-agrawal  Lazy-load all the images for smooth user experience.

[2019-01-13 06:42] Ace-Bansal commented on #86
You may proceed if you don't have any other issue assigned to you in this repo.

[2019-01-13 06:44] punisher1151 commented on #85
@zerefwayne
@Anupam-dagar
@pradeepgangwar
@ananya-agrawal
 I suggested this issue in comment box but it is published in your name ?

[2019-01-13 06:45] lo0oper commented on #86
i want to claim this

[2019-01-13 06:46] Anupam-dagar commented on #85
@punisher1151 keep a note of it while adding points. Add 10 points for it. Won't happen again. :smiley:

[2019-01-13 06:46] Ace-Bansal opened #87 "Implement lazy loading on all sections."
This issue couldn't be solved in the last edition of OpenCode. Let's see if someone can solve it this time around!

[2019-01-13 06:49] lo0oper commented on #87
just mentioning the comment to claim it is enough for claiming it right?
i want to claim this

[2019-01-13 06:51] lo0oper commented on #87
@opencodebot claim

[2019-01-13 06:55] lo0oper commented on #86
@opencodebot claim

[2019-01-13 06:55] lo0oper commented on #87
@opencodebot claim

[2019-01-13 06:56] B3ingALearner commented on #61
@Anupam-dagar  Logo of opencode is not visible due to colour of Nav-Bar

[2019-01-13 06:56] punisher1151 commented on #85
thnx

[2019-01-13 06:59] punisher1151 commented on #86
@ok i will do it

[2019-01-13 07:01] lo0oper commented on #86
yeah this is my first issue , on opencode. i have claimed it now ,right?

[2019-01-13 07:01] punisher1151 commented on #85
@Anupam-dagar i ve created a previous issue directly of image size would its points be added

[2019-01-13 07:03] ananya-agrawal commented on #87
@lo0oper issue is assigned to you

[2019-01-13 07:03] zerefwayne commented on #87
@lo0oper Check your mail and accept the invitation as well.

[2019-01-13 07:04] lo0oper commented on #86
okay . this is my first issue on open code .

On Sun, Jan 13, 2019 at 12:29 PM Ayush Verma <notifications@github.com>
wrote:

[2019-01-13 07:04] ananya-agrawal commented on #86
Issue is assigned to @punisher1151

[2019-01-13 07:06] lo0oper commented on #87
checked , got it . do i need to do anything else to claim the issue.

[2019-01-13 07:07] lo0oper commented on #86
fine i will look for some other issue.

On Sun, Jan 13, 2019 at 12:34 PM Ananya Agrawal <notifications@github.com>
wrote:

[2019-01-13 07:07] ananya-agrawal commented on #85
@ashish4321 you may proceed to work on this

[2019-01-13 07:10] zerefwayne commented on #61
@B3ingALearner Accepted. :+1: You may open this issue.

[2019-01-13 07:12] Ace-Bansal commented on #87
Nope. This issue is yours.

[2019-01-13 07:13] ananya-agrawal commented on #85
@punisher1151 the method we will be following is:
1. Comment issue on the thread
2. If approved by any of the mentor then open the issue yourself
3. Mentors will add points and label to it

[2019-01-13 07:15] lo0oper commented on #87
thankx...
i will get this in the assigned issues , right?

[2019-01-13 07:16] lo0oper commented on #87
thankx got it....

[2019-01-13 07:20] ananya-agrawal commented on #58
This issue is assigned to @nucelya

[2019-01-13 07:20] lo0oper commented on #87
okay...
can you tell me where to start with it ?

On Sun, Jan 13, 2019 at 12:43 PM Ekansh Bansal <notifications@github.com>
wrote:

[2019-01-13 07:32] ashish4321 commented on #61
@ananya-agrawal @zerefwayne
Add animation to OpenCode Logo and display only the animated logo when the page is loading

[2019-01-13 07:44] B3ingALearner opened #94 "Logo of opencode is not visible due to colour of Nav-Bar"

[2019-01-13 07:44] punisher1151 commented on #94
@opencodebot claim

[2019-01-13 07:45] ananya-agrawal commented on #7
this issue is assigned to @Jaggu-123 . @palak2001 @KeshavSharma21099  please check above comments before trying to claim any issue

[2019-01-13 07:47] punisher1151 commented on #94
@opencodebot claim

[2019-01-13 07:47] punisher1151 commented on #94
can I work on this issue

[2019-01-13 07:53] #15 closed

[2019-01-13 07:54] sourabh1031 commented on #94
@punisher1151 please solve one issue at a time you are claiming more than one issue and it does give the opportunity to others to contribute

[2019-01-13 07:59] punisher1151 commented on #94
@sourabh1031 but they were already assigned so I've not got them except one

[2019-01-13 07:59] zerefwayne commented on #94
@punisher1151 Accept the invitation link sent to your email.

[2019-01-13 08:04] punisher1151 commented on #94
@punisher1151

[2019-01-13 08:04] punisher1151 commented on #94
@opencodebot claim

[2019-01-13 08:05] punisher1151 commented on #94
@opencodebot claim

[2019-01-13 08:07] sourabh1031 commented on #94
@punisher1151 please check your email. accept the invitation from opencodebot and then claim the issue

[2019-01-13 08:08] punisher1151 commented on #94
@zerefwayne no link is present  to accept in the mail

[2019-01-13 08:13] zerefwayne opened #100 "Join the OpenCode Zulip Server"
Join the server through this link : https://opencode.zulipchat.com/

This is mandatory as we are upgrading to Zulip and all the conversations will shift there.

[2019-01-13 08:19] zerefwayne opened #101 "[URGENT] Participants not being displayed."
![image](https://user-images.githubusercontent.com/28949397/51083086-ee4b5580-1739-11e9-9492-b1e1f4f1668f.png)

Take up this issue only if you can resolve it by tonight.

[2019-01-13 08:20] sourabh1031 commented on #100
do we will get the invite link or we have to login directly with our mail

[2019-01-13 08:32] zerefwayne opened #103 "Improve the projects card design and flip cards."
![image](https://user-images.githubusercontent.com/28949397/51083180-b34a2180-173b-11e9-964c-05a84d8b8758.png)

The font sizes and spacing are not appropriate. Checkout the Bootstrap4 Docs and see how cards are designed.

[2019-01-13 08:33] ujjwal-batra commented on #103
@opencodebot claim

[2019-01-13 08:39] ujjwal-batra commented on #103
@opencodebot claim

[2019-01-13 09:00] mohammed-adil commented on #101
@zerefwayne Didn't knew it was supposed to be a issue😅, I made a patch though #105
Have a look at it.

[2019-01-13 09:07] zerefwayne commented on #101
@mohammed-adil We appreciate your proactiveness in correcting the issues. However the proper workflow in Open Source is to always open an issue first and then make a pull request.

This issue is assigned to @sourabh1031 so I am closing your PR #105

[2019-01-13 09:09] mohammed-adil commented on #101
@zerefwayne My Bad, you may also check #107 also.

[2019-01-13 09:19] zerefwayne commented on #53
@punisher1151 You can clearly see issues already assigned to someone. Do not spam the issues with claim comments. Try to be proactive to take up issues as soon as they come. Spamming is surely a code of conduct violation and might lead to disqualification.

[2019-01-13 10:46] KeshavSharma21099 commented on #61
@ananya-agrawal
Add OpenCode'19 logo to the title bar of the OpenCode'19 Tab.

[2019-01-13 10:51] itsnkm2000 commented on #8
can i take this issue?

[2019-01-13 10:51] itsnkm2000 commented on #8
@opencodebot claim

[2019-01-13 10:56] coding-clown commented on #2
is this issue given to me or to @Archies11
can i work on this . it is showing that i was assigned this

[2019-01-13 11:03] coding-clown commented on #58
CAN I CLAIM THIS

[2019-01-13 11:13] 0leve commented on #6
0leve: https://resume.github.io/?0leve

[2019-01-13 11:14] zerefwayne opened #114 "Make mentor cards similar to participant cards."

[2019-01-13 11:16] zerefwayne opened #115 "Disable social links on particpant card if the link isn't available."

[2019-01-13 11:21] coding-clown commented on #115
@opencodebot  claim

[2019-01-13 11:22] zerefwayne opened #117 "Show 6 participants in a row instead of 4."

[2019-01-13 11:24] zerefwayne opened #118 "Alignment issue in Header."
![image](https://user-images.githubusercontent.com/28949397/51084668-bf41dd80-1753-11e9-8c18-8089cd21f886.png)

Center align these items.

[2019-01-13 11:41] B3ingALearner commented on #118
@opencodebot claim

[2019-01-13 11:43] B3ingALearner commented on #118
@opencodebot claim

[2019-01-13 11:46] sourabh1031 commented on #61
All the participants and mentors should be displayed in single line with arrow on left and right side to scroll and automatic scrolling should also be done

[2019-01-13 11:54] Jaggu-123 commented on #114
@zerefwayne i will do it

[2019-01-13 12:41] ananya-agrawal commented on #9
@sourabh1031 no worries, we will add mentors ourselves.

[2019-01-13 12:41] #9 closed

[2019-01-13 12:42] mohammed-adil commented on #35
Hey @Anupam-dagar @zerefwayne Did the header section, let me know what you guys think.
![pic](https://user-images.githubusercontent.com/31363829/51085397-4300c780-175e-11e9-888f-e4a560d7add3.png)

How are the colors? and do you think i should make two column grid for header section with one column containing text and a button and another SVG illustration?

[2019-01-13 12:57] #8 closed

[2019-01-13 13:59] punisher1151 commented on #94
![screenshot from 2019-01-13 19-14-30](https://user-images.githubusercontent.com/42278252/51086156-f1116f00-1768-11e9-90fe-24bbcabd0866.png)
![screenshot from 2019-01-13 19-14-15](https://user-images.githubusercontent.com/42278252/51086157-f1116f00-1768-11e9-8492-e13cbf7137bd.png)
![screenshot from 2019-01-13 19-14-03](https://user-images.githubusercontent.com/42278252/51086159-f1116f00-1768-11e9-

[2019-01-13 14:03] chi50800 commented on #117
@opencodebot claim

[2019-01-13 14:09] chi50800 commented on #117
@opencodebot claim

[2019-01-13 14:12] ashish4321 commented on #85
@ananya-agrawal  I have added a pr for the issue. Pls check it

[2019-01-13 14:34] prjmaurya commented on #118
@opencodebot claim

[2019-01-13 16:59] Archies11 commented on #114
Is this issue claimed?

[2019-01-13 17:52] parag1201 commented on #11
@opencodebot claim

[2019-01-13 17:58] parag1201 commented on #63
@opencodebot claim

[2019-01-13 18:00] parag1201 commented on #58
@opencodebot claim

[2019-01-13 19:05] #85 closed

[2019-01-13 19:10] prateek76 opened #130 "Replace go to Top button text with an icon"
font awesome can be used.

[2019-01-13 19:37] shivhek25 commented on #130
@opencodebot claim

[2019-01-13 19:38] #11 closed

[2019-01-13 19:40] prateek76 opened #133 "Fix footer social icons"
Align icons to the center

[2019-01-13 19:54] shivhek25 commented on #133
@opencodebot claim

[2019-01-13 20:59] zerefwayne commented on #61
@KeshavSharma21099 Issue accepted! It is called a **favicon** of the webpage.

[2019-01-13 21:00] zerefwayne commented on #61
@sourabh1031 We have already opened an issue to implement pagination for the same.

[2019-01-13 21:42] NamanDeept commented on #60
@opencodebot  claim and true

[2019-01-14 04:09] mohammed-adil commented on #61
@zerefwayne @ananya-agrawal Adding smooth scrolling throughout page that includes clicking the links from navbar to footerr of the page.

[2019-01-14 04:37] Archies11 commented on #133
@opencodebot claim

[2019-01-14 04:39] Archies11 commented on #133
@opencodebot claim

[2019-01-14 04:40] Archies11 commented on #133
Is the issue open for claims?

[2019-01-14 04:51] mohammed-adil opened #135 "Add smooth scrolling feature throughout page"
Add smooth scrolling feature throughout page, that includes clicking the links from navbar to footer of the page.
Hint: Use Jquery for easier implementation.

[2019-01-14 06:00] ashish4321 commented on #135
@opencodebot  claim

[2019-01-14 06:01] ashish4321 commented on #133
@Archies11 the issue is already assigned to @shivhek25

[2019-01-14 06:07] #130 closed

[2019-01-14 06:30] prateek76 commented on #114
@Jaggu-123 please push the changes again

[2019-01-14 10:19] KaushalSahu commented on #6
https://resume.github.io/?KaushalSahu

[2019-01-14 10:21] prateek76 commented on #94
@zerefwayne there is a problem with @punisher1151 he is not getting issues on openbot claim, Have a look

[2019-01-14 10:32] prateek76 opened #149 "Fix participants.json"
There is a bug in json file,particpants cards are not being displayed

[2019-01-14 10:52] Rattlecode17sh commented on #149
@opencodebot claim

[2019-01-14 11:00] punisher1151 commented on #86
I've made a basic pagination for project section but I need more time to figure out the js part.Please give some more time
![screenshot from 2019-01-14 16-20-22](https://user-images.githubusercontent.com/42278252/51108923-a1d74700-1819-11e9-8b1b-bf669acf2745.png)

[2019-01-14 11:10] Firela commented on #6
Firela: https://resume.github.io/?Firela

[2019-01-14 12:19] prateek76 commented on #149
This issue is no longer needed open it again if bugs appears again and @Rattlecode17sh should be assigned for this issue

[2019-01-14 12:28] #7 closed, assigned to nobody

[2019-01-14 12:34] techac commented on #63
@punisher1151 participants images are fine what you exactly want.

[2019-01-14 12:36] techac commented on #60
@opencodebot claim

[2019-01-14 12:49] #94 closed

[2019-01-14 13:00] ashish4321 commented on #135
@ananya-agrawal Isn't there any point for this issue?

[2019-01-14 13:43] anupm12 commented on #118
@opencodebot claim

[2019-01-14 13:53] #114 closed

[2019-01-14 14:18] ankichd11 commented on #118
can i work on this

[2019-01-14 14:39] vishnuk7 commented on #35
@opencodebot claim

[2019-01-14 15:04] ujjwal-batra commented on #103
@zerefwayne sir i have to just give a design or add it in the main HTML code...???

[2019-01-14 15:15] vishnuk7 commented on #61
change the font

[2019-01-14 18:09] coding-clown commented on #149
is this issue solved

[2019-01-14 18:14] littleprodigy commented on #6
littleprodigy : https://resume.github.io/?littleprodigy

[2019-01-14 19:42] prateek76 commented on #149
no

[2019-01-14 23:52] sourabh1031 commented on #61
github zulip integration

[2019-01-15 03:53] Anupam-dagar commented on #35
@mohammed-adil can you provide the live link for your repo so that I can test out the design rather than inspecting the screenshot.

[2019-01-15 03:53] Anupam-dagar commented on #35
@vishnuk7 this issue is already in progress, please look for another one.

[2019-01-15 04:01] mohammed-adil commented on #35
@Anupam-dagar  Here's the link: https://mohammed-adil.github.io/Opencode-Collaborative-19/index.html

[2019-01-15 06:16] neerajd007 commented on #118
@opencodebot claim

[2019-01-15 07:19] #3 closed

[2019-01-15 07:19] #2 closed

[2019-01-15 07:21] #13 closed

[2019-01-15 07:34] Jahanvi21 commented on #103
@opencodebot claim

[2019-01-15 07:46] Jahanvi21 commented on #118
@opencodebot claim

[2019-01-15 07:50] apexkid opened #174 "Keep participants and projects on 2 separate pages"
First page is getting messed up due to large list of participants. It would be nicer if there were two separate tabs/pages.

[2019-01-15 07:56] zerefwayne commented on #174
@apexkid Do not open an issue without getting an approval.

[2019-01-15 07:56] #174 closed

[2019-01-15 09:00] orichamaru commented on #16
@opencodebot claim

[2019-01-15 09:17] orichamaru commented on #16
@opencodebot

[2019-01-15 09:18] orichamaru commented on #16
@opencodebot claim

[2019-01-15 10:07] helios1101 commented on #6
helios1101: http://resume.github.io/?helios1101

[2019-01-15 10:18] parag1201 commented on #135
@opencodebot  claim

[2019-01-15 10:52] sourabh1031 commented on #61
gradient is too dark to view the text "Welcome ....". header color is also looking odd with gradient

[2019-01-15 11:56] Rattlecode17sh commented on #57
Can i get some more time??.. I am working on it just one more day

[2019-01-15 12:02] pradeepgangwar commented on #3
@zerefwayne Why u closed this issue?

[2019-01-15 12:12] punisher1151 commented on #86
@ananya-agrawal please assign this anyone else

[2019-01-15 12:32] punisher1151 commented on #61
facebook animated bar could be added as in previous site
![screenshot from 2019-01-15 18-00-50](https://user-images.githubusercontent.com/42278252/51180870-9d7d5d80-18ef-11e9-8c13-6c508f7203ce.png)

[2019-01-15 12:37] punisher1151 commented on #61
Color of fb ,twitter and github icon should be white in footer

[2019-01-15 12:46] ashish4321 commented on #135
@opencodebot claim

[2019-01-15 13:03] vishnuk7 commented on #35
@opencodebot claim

[2019-01-15 18:52] #149 closed

[2019-01-15 19:14] amritansh6 commented on #6
amritansh6:http://resume.github.io/?amritansh6

[2019-01-15 20:33] nucelya commented on #35
@opencodebot  claim

[2019-01-16 05:13] sourabh1031 commented on #61
Participants cards are repeating

[2019-01-16 07:38] sourabh1031 commented on #115
@opencodebot claim

[2019-01-16 07:40] sourabh1031 commented on #115
@zerefwayne as there is no activity on this issue can you please assign it to me

[2019-01-16 08:12] pradeepgangwar commented on #35
@vishnuk7 @nucelya You guys cannot claim the issue when someone has a open PR and is already working on it. Please be careful and see issue comments before commenting. You can claim the issue if assignee does not open PR in 3 days not before that.
I will have to close your PR as a duplicate as this is violation of COC. I will be closing #180 by @vishnuk7 . Vishnu you can open PR again with better

[2019-01-16 09:44] kavi-12 commented on #118
@opencodebot claim

[2019-01-16 09:51] kavi-12 commented on #118
@opencodebot claim

[2019-01-16 11:59] B3ingALearner commented on #118
@opencodebot unclaim

[2019-01-16 11:59] punisher1151 commented on #118
@opencodebot claim

[2019-01-16 12:02] punisher1151 commented on #118
@opencodebot claim

[2019-01-16 12:04] Kartik2301 commented on #4
@opencodebot claim

[2019-01-16 12:05] punisher1151 commented on #118
@opencodebot claim

[2019-01-16 12:07] punisher1151 commented on #118
can I work on this issue opencodebot bec no link to accept is there in the mail

[2019-01-16 12:10] punisher1151 commented on #118
@opencodebot claim

[2019-01-16 12:11] vishnuk7 commented on #135
@opencodebot claim

[2019-01-16 12:13] vishnuk7 commented on #58
@opencodebot claim

[2019-01-16 12:15] ShipraGaur commented on #118
@opencodebot claim

[2019-01-16 12:19] vishnuk7 commented on #60
@opencodebot claim

[2019-01-16 12:55] vishnuk7 commented on #103
@opencodebot claim

[2019-01-16 13:34] Anupam-dagar commented on #1
@opencodebot claim

[2019-01-16 14:35] vishnuk7 commented on #57
@opencodebot claim

[2019-01-16 15:30] crustyy commented on #1
@opencodebot claim

[2019-01-16 15:43] brownsands commented on #6
brownsands:https://resume.github.io/?brownsands

[2019-01-16 16:00] thenullterminator commented on #118
@opencodebot claim

[2019-01-16 16:05] thenullterminator commented on #118
@opencodebot claim

[2019-01-16 16:39] riya-rc commented on #6
riya-rc: http://resume.github.io/?riya-rc

[2019-01-16 17:24] ananya-agrawal opened #202 "Compress images of participants, mentors, and projects"
Present website is getting too slow, compress all the images of mentor, participants and projects

[2019-01-16 17:27] ananya-agrawal commented on #57
@vishnuk7, @Rattlecode17sh is having an active pr for the issue. Please find some other issue to work on.

[2019-01-16 17:47] ananya-agrawal opened #204 "Make a simple java script game"
Comment down both github repo link and gh pages link needed.
The games should be made after opencode started or we wont count it.

[2019-01-16 17:49] neerajd007 commented on #202
@opencodebot claim

[2019-01-16 17:56] ananya-agrawal opened #206 "Make a website for yourself"
Make anything you want, you can add your photos, your projects, blog or anything you want to. Don't use site builders like wix or wordpress, everything else will be fine. Host your website on gh pages and comment down the link

[2019-01-16 18:41] BLJS2warchief commented on #117
@opencodebot claim

[2019-01-16 19:31] BLJS2warchief commented on #117
@opencodebot claim

[2019-01-16 19:36] BLJS2warchief commented on #118
@opencodebot claim

[2019-01-16 20:03] BLJS2warchief commented on #118
@opencodebot unclaim

[2019-01-16 20:15] ekthapriyesh24 commented on #6
ekthapriyesh24: http://resume.github.io/?ekthapriyesh24

[2019-01-17 07:47] palak2001 commented on #204
@opencodebot claim

[2019-01-17 07:55] KaushalSahu commented on #4
@opencodebot claim

[2019-01-17 07:56] KaushalSahu commented on #4
@opencodebot claim

[2019-01-17 08:55] ananya-agrawal commented on #115
@sourabh1031 you may start working on this

[2019-01-17 08:57] sourabh1031 commented on #115
thanks @ananya-agrawal

[2019-01-17 11:41] Rupeshiya commented on #204
Can I use node.js @ananya-agrawal  ?

[2019-01-17 11:55] neerajd007 commented on #202
@opencodebot unclaim

[2019-01-17 12:14] Rupeshiya commented on #6
Rupeshiya  - http://resume.github.io/?Rupeshiya

[2019-01-17 13:40] anupm12 commented on #206
@opencodebot claim

[2019-01-17 13:41] anupm12 commented on #118
@opencodebot claim

[2019-01-17 13:42] anupm12 commented on #202
@opencodebot claim

[2019-01-17 14:13] anupm12 commented on #115
@opencodebot claim

[2019-01-17 14:17] anupm12 commented on #58
@ananya-agrawal As there is no activity.
Can you please assign this issue to me?

[2019-01-17 15:16] anupm12 commented on #6
anupm12 - http://resume.github.io/?anupm12

[2019-01-17 15:23] anupm12 commented on #58
@opencodebot claim

[2019-01-17 15:25] jishansingh commented on #117
@opencodebot claim

[2019-01-17 15:32] anupm12 commented on #135
@opencodebot claim

[2019-01-17 15:34] anupm12 commented on #135
@ashish4321 As there is no activity for the last 2 days. Can you assign this to me?

[2019-01-17 15:35] jishansingh commented on #118
@opencodebot claim

[2019-01-17 15:38] jishansingh commented on #117
@opencodebot claim

[2019-01-17 15:42] prateek76 commented on #204
@Rupeshiya Do you want to make online multiplayer?

[2019-01-17 15:44] jishansingh commented on #117
@zerefwayne as there is no activity on this issue can you please assign it to me

[2019-01-17 15:55] anupm12 commented on #86
@opencodebot claim

[2019-01-17 17:17] ashish4321 commented on #135
@opencodbot unclaim

[2019-01-17 17:19] vishnuk7 commented on #135
@opencodebot claim

[2019-01-17 17:21] vishnuk7 commented on #135
@opencodebot claim

[2019-01-17 17:48] jishansingh commented on #103
@opencodebot claim

[2019-01-17 17:49] vishnuk7 commented on #135
you miss 'e' from opencodebot so please again unclaim it , what you wrote is (opencodbot unclaim)

[2019-01-17 17:50] jishansingh commented on #103
@zerefwayne as there is no activity on this issue can you please assign it to me

[2019-01-17 17:54] BLJS2warchief commented on #206
https://bljs2warchief.github.io/projectRandom/

[2019-01-17 19:33] dhairyabaweja commented on #117
@opencodebot claim

[2019-01-17 19:35] dhairyabaweja commented on #115
@opencodebot claim

[2019-01-17 19:37] dhairyabaweja commented on #63
@opencodebot claim

[2019-01-17 19:39] dhairyabaweja commented on #63
@punisher1151 Can I work on this issue?

[2019-01-17 19:40] dhairyabaweja commented on #58
@opencodebot claim

[2019-01-17 19:42] dhairyabaweja commented on #53
@ananya-agrawal Can I work on this issue as there is no activity.
@opencodebot claim

[2019-01-17 21:22] palak2001 commented on #35
The issue was assigned 2 days past, can I claim it now?

[2019-01-18 00:33] Rattlecode17sh commented on #53
@dhairyabaweja you can work on this issue as right now i am covering some other issue

[2019-01-18 05:03] #35 closed

[2019-01-18 05:04] pradeepgangwar commented on #35
@palak2001 this issue was not stale. there was a open PR #162  which has been merged now.

[2019-01-18 05:11] pradeepgangwar opened #223 "Sort mentors name in alphabetical order"
Sort mentors cards in alphabetical order.

[2019-01-18 06:11] Jaggu-123 commented on #223
@opencodebot claim

[2019-01-18 06:14] Jaggu-123 commented on #223
@opencodebot claim

[2019-01-18 06:32] sourabh1031 commented on #60
@opencodebot claim

[2019-01-18 06:50] #223 closed

[2019-01-18 07:40] vishnuk7 commented on #135
@ashish4321 please tag that bot correctly to unclaimed this issue.
Please have a look at this @mohammed-adil

[2019-01-18 08:18] ashish4321 commented on #135
@opencodebot unclaim

[2019-01-18 09:17] vishnuk7 commented on #135
@opencodebot claim

[2019-01-18 09:48] pradeepgangwar commented on #202
@ananya-agrawal @anupm12 This is not worth 30 points. I have reduced the points to 20. Please take care while uploading the score.
Closing this via #218

[2019-01-18 09:48] #202 closed

[2019-01-18 10:37] dhairyabaweja commented on #63
@opencodebot claim

[2019-01-18 10:40] dhairyabaweja commented on #53
@opencodebot claim

[2019-01-18 10:51] dhairyabaweja commented on #58
@opencodebot claim

[2019-01-18 10:58] dhairyabaweja commented on #53
Thank you @Rattlecode17sh for letting me work on this.

[2019-01-18 11:05] dhairyabaweja commented on #6
dhairyabaweja - https://resume.github.io/?dhairyabaweja

[2019-01-18 11:51] #4 closed

[2019-01-18 12:16] dhairyabaweja commented on #204
Repo link - https://github.com/dhairyabaweja/Basic-JavaScript-Game

gh page link - https://dhairyabaweja.github.io/Basic-JavaScript-Game/

[2019-01-18 13:10] helios1101 commented on #206
https://helios1101.github.io

[2019-01-18 13:19] helios1101 commented on #16
Is this issue fixed? Can I work on this issue?
@opencodebot claim

[2019-01-18 13:38] helios1101 commented on #61
![screenshot from 2019-01-18 19-04-34](https://user-images.githubusercontent.com/26597930/51389973-f2b9a900-1b53-11e9-9efb-6c19ae4fb282.png)
Upon clicking "get started" button, which is taking people directly to participants section, instead a smooth scroll effect must be there which must slide to participants section.

[2019-01-18 14:41] ananya-agrawal commented on #103
@jishansingh @ujjwal-batra is having an open pr. You may find another issue and start working :smiley:

[2019-01-18 14:52] ananya-agrawal commented on #58
@anupm12 yeah you may start working on the same

[2019-01-18 14:56] ananya-agrawal commented on #61
@helios1101 we have an issue already opened to implement smooth scrolling throughout the website

[2019-01-18 14:57] ananya-agrawal commented on #63
@punisher1151 @zerefwayne what is planned to be exactly done in this issue?

[2019-01-18 14:59] ananya-agrawal commented on #86
@punisher1151 any updates?

[2019-01-18 15:02] coding-clown commented on #206
https://coding-clown.github.io/

[2019-01-18 15:13] Rattlecode17sh commented on #86
Let me solve this if still this issue is open

[2019-01-18 15:19] anupm12 commented on #118
@ananya-agrawal I had earlier claimed this issue and also completed working on it but as my participant entry PR was not merged I was waiting for it to be merged but meanwhile, I was unassigned from this issue.
Please assign it to me.

[2019-01-18 15:19] vishnuk7 commented on #6
https://resume.github.io/?vishnuk7

[2019-01-18 15:19] vishnuk7 commented on #6
vishnuk7 - https://resume.github.io/?vishnuk7

[2019-01-18 15:23] anupm12 commented on #86
@ananya-agrawal can I start working on this?
However, this issue is assigned to me and there is no update from @punisher1151

[2019-01-18 15:30] vishnuk7 commented on #118
@opencodebot claim

[2019-01-18 18:17] Rattlecode17sh commented on #61
![screenshot 44](https://user-images.githubusercontent.com/38866385/51404978-00cef000-1b7b-11e9-93a2-cd6b8745c5d3.png)
![screenshot 45](https://user-images.githubusercontent.com/38866385/51404979-00cef000-1b7b-11e9-9dab-6b33398f5df0.png)

When viewed in mobile view participant cards looks very dull even College is diaplayed outside Cards in some cases. We can fix this.

[2019-01-18 19:01] kavi-12 commented on #63
@opencodebot claim

[2019-01-18 19:08] kavi-12 commented on #58
@opencodebot claim

[2019-01-18 19:20] Rupeshiya commented on #204
Repo link - https://github.com/Rupeshiya/FunPacketCli
Repo link -https://github.com/Rupeshiya/Tic-Tac-Toe-CLI

@prateek76  @ananya-agrawal  check it !!

[2019-01-19 02:53] sakshiguptaiiita commented on #6
https://resume.github.io/?sakshiguptaiiita

[2019-01-19 05:55] Rattlecode17sh commented on #60
Let me know if this issue still remains open

[2019-01-19 08:31] prateek76 commented on #204
provide a live link

[2019-01-19 09:21] Rupeshiya commented on #204
It's a command line game so how can I provide you link for that @prateek76  ? , when you will open the repo link you will get all the info about how to use it , so have a look at that and if there is any problem then let me know .

[2019-01-19 12:14] Rattlecode17sh commented on #61
We can add a timer to show how much time is left for opencode'19 to end

[2019-01-19 13:16] vaibhav-1207 commented on #6
Vaibhav-1207 - [https://resume.github.io/?vaibhav-1207](url)

[2019-01-19 13:21] vaibhav-1207 commented on #6
Vaibhav-1207 - [https://resume.github.io/?vaibhav-1207](url)

[2019-01-19 15:00] helios1101 commented on #16
@Ace-Bansal  Can I try this issue?

[2019-01-19 16:48] pradeepgangwar commented on #135
solved in #231

[2019-01-19 16:48] #135 closed

[2019-01-19 16:49] pradeepgangwar commented on #57
@Rattlecode17sh Your previous PR contains a lot of insignificant changes that broke the overall design of the website. Please recreate a Pull Request.

[2019-01-19 16:50] vishnuk7 commented on #57
@opencodebot claim

[2019-01-19 16:51] Rattlecode17sh commented on #57
Okay i will do it again

[2019-01-19 16:52] Rattlecode17sh commented on #57
@pradeepgangwar what changes are required??

[2019-01-19 16:53] pradeepgangwar commented on #57
@Rattlecode17sh Your previous PR deleted some of the code part that was done in other PRs. Just make sure your PR contains the changes that are relevant to you and does not delete other code parts.

[2019-01-19 16:56] Rattlecode17sh commented on #57
Okay give me some time.

[2019-01-19 17:36] Rattlecode17sh commented on #57
@pradeepgangwar check it now

[2019-01-19 17:47] pradeepgangwar commented on #57
fixed in #233

[2019-01-19 17:47] #57 closed

[2019-01-19 18:53] #53 closed

[2019-01-19 19:05] aswinzz commented on #204
@Rupeshiya submit something made during Opencode and not the one's you made before!

[2019-01-19 19:13] #118 closed

[2019-01-20 01:34] sourabh1031 commented on #61
flipping card effect on participants causes motto line of participants to display on image.

[2019-01-20 07:43] insagrammer commented on #1
@opencodebot claim

[2019-01-20 07:47] insagrammer commented on #1
@opencodebot claim

[2019-01-20 08:34] prijeshb commented on #61
@sourabh1031  not all i guess only of mentors

[2019-01-20 10:54] vishnuk7 commented on #87
@opencodebot claim

[2019-01-20 11:16] sa4k5hi commented on #6
sa4k5hi - https://resume.github.io/?sa4k5hi

[2019-01-20 11:39] anupm12 commented on #206
https://web-salon.netlify.com/

[2019-01-20 13:54] Jigar3 opened #241 "Fix card hover for the mentors section"

[2019-01-20 13:56] Jigar3 opened #242 "Make cards in projects section uniform"
Cards in participants and mentor section are uniform throughout, make the same for projects section

[2019-01-20 14:01] Jigar3 opened #243 "Make total number of forks and stars visible on the website"

[2019-01-20 14:08] Jigar3 opened #244 "Add a favicon"

[2019-01-20 14:10] Jigar3 opened #245 "list issues of all projects in the websites in a new section"
With the help of github API, make a new section titled issues in which you can see all the open issues of a particular repo in OpenCode19.
Something like : https://opencode18.github.io/OpenCode-Collaborative/

[2019-01-20 14:11] Jigar3 opened #246 "Add Logo of geekhaven and iiit allahabad in the footer"

[2019-01-20 14:12] Jigar3 opened #247 "Make the navbar fixed while scrolling"

[2019-01-20 14:15] Jigar3 opened #248 "Embed the OpenCode19 Trailer in the website"
Make a link in the navbar titled trailer, on clicking it a modal should open which plays the opencode trailer
https://www.facebook.com/opencodeiiita/videos/2301796573173119/

[2019-01-20 14:16] sa4k5hi commented on #247
@opencodebot claim

[2019-01-20 14:20] sa4k5hi commented on #244
@opencodebot claim

[2019-01-20 14:20] Jigar3 opened #249 "Toggle switch for a night mode"

[2019-01-20 14:30] sa4k5hi commented on #246
@opencodebot claim

[2019-01-20 14:33] deepakDOTexe commented on #246
@opencodebot claim

[2019-01-20 14:35] deepakDOTexe commented on #248
@opencodebot claim

[2019-01-20 14:39] Rattlecode17sh commented on #245
@opencodebot claim

[2019-01-20 14:41] Jigar3 commented on #247
@ujjwal-batra I think there is some error over here by the bot, this issue is assigned to @sa4k5hi .

[2019-01-20 14:44] kumarshubham707 commented on #243
@opencodebot claim

[2019-01-20 14:46] kumarshubham707 commented on #243
@opencodebot claim

[2019-01-20 14:47] deepakDOTexe commented on #246
@opencodebot claim

[2019-01-20 14:57] ujjwal-batra commented on #247
@jigar3 np sir 👍🏻

[2019-01-20 15:50] anupm12 commented on #86
@opencodebot unclaim

[2019-01-20 15:53] vishnuk7 commented on #86
@opencodebot unclaim

[2019-01-20 15:55] vishnuk7 commented on #86
@opencodebot claim

[2019-01-20 15:56] vishnuk7 commented on #242
@opencodebot claim

[2019-01-20 16:14] Jigar3 opened #250 "Make a new card design"
The cards for participants,mentors & projects are quite dull to be honest. Make them stylish
https://codepen.io/andytran/pen/BNjymy
https://codepen.io/szpakoli/pen/xbJjdR
https://codepen.io/choogoor/pen/YWBxAg

Here are three designs for cards. While claming the issue let us know which design you will be working on.

[2019-01-20 16:15] Rattlecode17sh commented on #241
@opencodebot claim

[2019-01-20 16:17] ujjwal-batra commented on #250
@opencodebot claim

[2019-01-20 16:19] Jigar3 commented on #250
@ujjwal-batra  A suggestion to use https://codepen.io/andytran/pen/BNjymy this as the new design

[2019-01-20 16:30] Jigar3 commented on #250
What is the issue number??

[2019-01-20 16:33] ujjwal-batra commented on #250
its 103

[2019-01-20 16:35] Jigar3 commented on #250
Make a new card design, you will get points for both the issues.

[2019-01-20 16:39] ujjwal-batra commented on #250
ok sir

[2019-01-21 10:56] thesmallstar commented on #204
@ananya-agrawal can it be a little JavaScript app, instead of a game.

[2019-01-21 12:02] neerajd007 commented on #206
https://neerajd007.github.io/

[2019-01-21 15:56] kumarshubham707 commented on #243
@opencodebot unclaim

[2019-01-21 16:37] ujjwal-batra commented on #250
@devgupta2607 i think the card flip idea is dropped

[2019-01-21 16:47] prijeshb commented on #250
well i have added little borders and color change of card check:
![Uploading Screenshot (143).png…]()
![screenshot 144](https://user-images.githubusercontent.com/16492616/51487955-4df4d100-1dca-11e9-802d-579d83ac10c0.png)

[2019-01-21 17:32] anupm12 commented on #249
I completed working on this but my other PR is still open @Jigar3

[2019-01-21 17:54] Jigar3 commented on #249
No problem. Submit a new PR from a seperate branch

[2019-01-21 18:44] thesmallstar commented on #6
thesmallsta - http://resume.github.io/?thesmallstar

[2019-01-21 19:57] vishnuk7 commented on #243
@opencodebot claim

[2019-01-21 20:48] pradeepgangwar opened #257 "Loader not working properly"
Loader does not seem to be working.

[2019-01-22 03:42] anupm12 commented on #257
@pradeepgangwar I already have 2 issues assigned to me but I have also put up a PR for those issues which is not reviewed for the last 2 days only because of this I'm unable to work on other issues. 😭
Can I please start working on this issue I know how to solve this I have done it earlier on some other project

[2019-01-22 03:43] anupm12 commented on #257
@opencodebot claim

[2019-01-22 03:47] pradeepgangwar commented on #257
Sure,  you can start working. Can you mention PRs which needs review?

On Tue, 22 Jan 2019, 9:13 am opencodebot[bot] <notifications@github.com
wrote:

[2019-01-22 03:48] anupm12 commented on #257
#229

[2019-01-22 04:55] prijeshb commented on #250
check this out :
made smooth edges and changed color of card.

card should  flip on hover

![screenshot 147](https://user-images.githubusercontent.com/16492616/51513202-a7dbb200-1e2f-11e9-8922-9c3afdc0bf0a.png)
![screenshot 146](https://user-images.githubusercontent.com/16492616/51513206-ac07cf80-1e2f-11e9-8427-cb21eb5a6b76.png)

[2019-01-22 05:51] shivhek25 commented on #257
@opencodebot claim

[2019-01-22 06:07] anupm12 commented on #257
@pradeepgangwar @shivhek25 I'm already working on this issue

[2019-01-22 06:15] sourabh1031 commented on #61
![screenshot from 2019-01-22 11-44-07](https://user-images.githubusercontent.com/25590627/51515804-1a9e5a80-1e3b-11e9-8877-ecf81717f3d0.png)
Website broke

[2019-01-22 06:22] pradeepgangwar commented on #257
@shivhek25 Allow @anupm12 to work on this. He claimed it first.

[2019-01-22 06:38] anupm12 commented on #257
@pradeepgangwar can you review my #229 pr?

[2019-01-22 06:52] pradeepgangwar commented on #257
@anupm12 Can you make a pr quickly for this? Website is not opening for most of the links given in PR. So it is not possible to review PRs. Once this is resolved please update your PR #229 and then we can review.

[2019-01-22 06:57] anupm12 commented on #257
@pradeepgangwar In the pr #229 loader is working fine

[2019-01-22 07:04] pradeepgangwar commented on #257
It is not working for me.

On Tue, Jan 22, 2019 at 12:27 PM Anupam Shukla <notifications@github.com>
wrote:

[2019-01-22 07:07] vishnuk7 commented on #243
@opencodebot claim

[2019-01-22 07:41] vishnuk7 commented on #243
@Jigar3  @pradeepgangwar it was informed in slack that we can take upto 3 issues simultaneously but the bot is not allowing to claim....please assign this issue to me....

[2019-01-22 08:02] Jigar3 commented on #243
@vishnuk7 Assigning you the issue

[2019-01-22 08:07] Jigar3 commented on #244
What is the status of this issue?? @sa4k5hi

[2019-01-22 08:20] ujjwal-batra commented on #250
@Jigar3 sir what should be the normal content on the card...i was thinking for having image, name and links....and on hover college name and about will pop up...this is for participant and mentor cards

[2019-01-22 08:32] anupm12 commented on #248
can I do this?

[2019-01-22 08:46] anupm12 commented on #249
@Jigar3 can you please tell me how?

[2019-01-22 08:50] anupm12 commented on #257
Someone help! @Jigar3 @pradeepgangwar @ananya-agrawal

[2019-01-22 08:58] deepakDOTexe commented on #246
Still working on it, will update you tonight. @Jigar3

[2019-01-22 11:40] anupm12 commented on #245
@Jigar3 As there is no activity from @Rattlecode17sh in this issue for the past 2 days,
Can you assign this issue to me?

[2019-01-22 11:44] Jigar3 commented on #249
@anupm12 just create a new branch.
do `git reset HEAD~<no of commits to go back>`
This command will take you back to a previous commit, edit in that and send a new PR from that branch

[2019-01-22 11:45] Rattlecode17sh commented on #245
Sorry @anupm12 time limit is i guess 3 days. I am working on it give me some time

[2019-01-22 11:48] Rattlecode17sh commented on #245
I will complete it by tonight. If not done you can solve this issue

[2019-01-22 11:49] anupm12 commented on #245
@Rattlecode17sh ok sure.

[2019-01-22 11:57] anupm12 commented on #249
@Jigar3 ok.
My PR #229  which solves issue #58 is not yet reviewed, I opened it before 4 days.

[2019-01-22 12:30] anupm12 commented on #16
@Ace-Bansal can you assign this issue to me?

[2019-01-22 13:19] Jigar3 opened #262 "Make a countdown timer"
Make a countdown timer which ends on last date of OpenCode'19 (12th Feb). Place it on the landing page

[2019-01-22 14:23] devgupta2607 commented on #262
@opencodebot claim

[2019-01-22 14:26] devgupta2607 commented on #262
@opencodebot claim

[2019-01-22 17:08] ashish4321 commented on #244
@sa4k5hi are you working on it?

[2019-01-22 17:14] anupm12 commented on #244
@Jigar3 can you assign to me if @sa4k5hi is not working?

[2019-01-22 17:33] #86 closed

[2019-01-22 17:34] Jigar3 commented on #244
@anupm12 You could have this issue if she doesn't reply by morning

[2019-01-22 17:35] anupm12 commented on #244
Ok.

[2019-01-22 17:38] ashish4321 commented on #244
@Jigar3 i asked for working on it prior to @anupm12

[2019-01-22 17:39] ashish4321 commented on #244
My comment is 6 mins earlier than @anupm12. I should be allowed to work on it @Jigar3

[2019-01-22 17:41] Jigar3 commented on #244
I didn't see your comment. @anupm12 let @ashish4321 work on it then

[2019-01-22 17:43] ashish4321 commented on #244
@Jigar3 thanks

[2019-01-22 18:04] #115 closed

[2019-01-22 19:51] neerajd007 commented on #246
Can I work on this issue?

[2019-01-22 19:51] neerajd007 commented on #246
@opencodebot claim

[2019-01-23 03:59] Rattlecode17sh commented on #245
@anupm12 , @Jigar3 . I am about to fix this just give me one more day.

[2019-01-23 04:00] Rattlecode17sh commented on #245
After that @anupm12 you can go ahead 😃😃

[2019-01-23 04:31] #246 closed

[2019-01-23 05:33] anupm12 commented on #249
Live link https://opencode-night-mode.netlify.com

[2019-01-23 08:02] ashish4321 commented on #244
@Jigar3 Please review the PR for favicon

[2019-01-23 14:34] arpitmisraw commented on #87
"Couldn't be solved last time" 😭😭😭

[2019-01-23 15:36] anupm12 commented on #250
@ujjwal-batra are you still working on this issue? If not, @Jigar3 can you assign this to me?

[2019-01-23 15:39] anupm12 commented on #87
@opencodebot claim

[2019-01-23 15:43] anupm12 commented on #247
@Jigar3 can you assign this issue to me if this issue is still open?

[2019-01-23 16:57] thesmallstar commented on #204
Repo link - https://github.com/thesmallstar/the-lucky-dice-game
Github pages link - https://thesmallstar.github.io/the-lucky-dice-game/
@ananya-agrawal  please check it :)

[2019-01-23 17:12] Rattlecode17sh commented on #245
@opencodebot unclaim. @anupm12 you can solve this issue.

[2019-01-23 17:13] Rattlecode17sh commented on #247
@opencodebot claim

[2019-01-23 17:15] Rattlecode17sh commented on #243
Let me know if this issue still remains open

[2019-01-23 17:16] anupm12 commented on #245
@opencodebot claim

[2019-01-23 17:18] Rattlecode17sh commented on #262
Let me know if this issue still remains open

[2019-01-23 17:19] vishnuk7 commented on #243
@Rattlecode17sh I am still working on this issue

[2019-01-23 17:38] Rattlecode17sh commented on #247
Let me know this if this issue still remains open @Jigar3

[2019-01-23 17:39] anupm12 commented on #247
@sa4k5hi are you still working on this??

[2019-01-23 19:59] Jigar3 commented on #262
Make it big and place on the landing page image

[2019-01-23 21:34] devgupta2607 commented on #262
![sample pic](https://user-images.githubusercontent.com/42816087/51638479-71fc1200-1f84-11e9-8a55-32f1095bd083.png)

I have made like this but I cannot decide what design I can add. Can you help @Jigar3 ?
Changes to be made pls mention them.

[2019-01-24 01:33] sourabh1031 commented on #87
@opencodebot claim

[2019-01-24 01:34] sourabh1031 commented on #87
Can i work on this ?

[2019-01-24 01:36] sourabh1031 commented on #87
@anupm12 i think you have been assigned three issues . Can I try on this

[2019-01-24 04:05] Jigar3 commented on #262
Just send a PR, other mentors can suggest changes

[2019-01-24 06:49] anupm12 commented on #87
@sourabh1031
No. I have 2 issues assigned among those, one I have made a pr already
Let me try it once and if I'm unable to do it then you can take it.
@Jigar3 @Ace-Bansal @ananya-agrawal @zerefwayne

[2019-01-24 08:19] #244 closed

[2019-01-24 08:48] #60 closed

[2019-01-24 09:53] sourabh1031 commented on #63
@ananya-agrawal can you please assign it to me

[2019-01-24 10:00] anupm12 commented on #247
@Jigar3 please assign this to me

[2019-01-24 11:55] Jigar3 commented on #247
As @Rattlecode17sh commented first he is assigned to this issue.

[2019-01-24 12:14] anupm12 commented on #247
@Jigar3 I commented 2 hours before him

[2019-01-24 13:38] Jigar3 commented on #243
@vishnuk7 What's the status?

[2019-01-24 13:49] sourabh1031 commented on #87
@anupm12 you have been assigned three issues. Can i claim it now

[2019-01-24 14:47] ananya-agrawal commented on #117
This issue is open for all

[2019-01-24 14:53] vishnuk7 commented on #117
@opencodebot claim

[2019-01-24 15:06] ujjwal-batra commented on #103
@ananya-agrawal  actually mam jigar sir told me to do another style for the cards  and it will b done by tomorrow morning and both the issue will be combined

[2019-01-24 15:32] vishnuk7 commented on #242
@Jigar3  please close this issue

[2019-01-24 16:10] #243 closed

[2019-01-24 17:06] kesari007 commented on #6
kesari007 - http://resume.github.io/?kesari007

[2019-01-24 17:39] #249 closed

[2019-01-24 17:44] ashish4321 commented on #206
https://ashish4321.github.io/My-Site/

[2019-01-24 19:12] prateek76 opened #271 "Implement typing animation on hello world text in landing page"

[2019-01-24 19:22] prateek76 opened #272 "Make drop down menu for responsive mobile devices"
![whatsapp image 2019-01-25 at 12 48 53 am](https://user-images.githubusercontent.com/33982495/51703045-5b64c200-203b-11e9-9fe3-8ded78049968.jpeg)

it's not responsive
also add some horizontal padding to opencode logo and hamburger icon

[2019-01-24 19:24] vishnuk7 commented on #272
@opencodebot claim

[2019-01-24 19:44] punisher1151 commented on #271
@anupam12 could you let me try for it as I am a beginner and want to do this

[2019-01-24 19:54] prateek76 commented on #271
@punisher1151 how may issues have you solved till now?

[2019-01-24 19:56] punisher1151 commented on #271
1 which i solved other got assigned to someone else

[2019-01-24 20:00] prateek76 commented on #271
@punisher1151 i am opening an issue claim that

[2019-01-24 20:00] prateek76 opened #273 "fix project image get distorted in mobile devices"
![whatsapp image 2019-01-25 at 12 48 53 am 3](https://user-images.githubusercontent.com/33982495/51705030-83a2ef80-2040-11e9-932f-0cfb88648ad2.jpeg)

[2019-01-24 20:03] prateek76 commented on #273
closing this issue as #16 is open

[2019-01-24 20:03] #273 closed

[2019-01-24 20:07] devgupta2607 commented on #262
How can I create the github pages of a branch of my repository? The document says we can create link of master branch only but I am making changes in a seperate branch.

[2019-01-24 20:09] prateek76 opened #274 "change icon colors to white"
![screenshot from 2019-01-25 01-38-25](https://user-images.githubusercontent.com/33982495/51705589-04aeb680-2042-11e9-9df4-9596827fddd5.png)

[2019-01-24 20:11] punisher1151 commented on #274
can I work on this

[2019-01-24 20:12] prateek76 commented on #274
go ahead

[2019-01-24 20:30] palak2001 commented on #274
@opencodebot claim

[2019-01-24 20:33] ujjwal-batra commented on #250
@Jigar3 @ananya-agrawal  i completed my work but there is that card flipping effect already exist on the cards so should i overwrite it??

[2019-01-24 20:40] prateek76 commented on #274
@palak2001 it's already assigned

[2019-01-24 21:26] Rattlecode17sh commented on #245
@Jigar3 can i try this again if this issue still remains open?

[2019-01-24 22:01] devgupta2607 commented on #61
Navbar links can have hover effects and navbar change color as it reaches the sections like participant, mentor and projects and colors which suit the logo

[2019-01-24 22:02] devgupta2607 commented on #262
I have solved the question asked and added an pull request with an active link.

[2019-01-25 05:10] sourabh1031 commented on #16
@prateek76 i will take this issue

[2019-01-25 14:12] #272 closed

[2019-01-25 14:55] ujjwal-batra commented on #250
and that design is not working properly in night mode

[2019-01-25 16:46] punisher1151 commented on #61
Flipping cards of some users doesn't have any quote or text . A
![screenshot from 2019-01-25 22-14-13](https://user-images.githubusercontent.com/42278252/51759723-e0f57a00-20ee-11e9-9b1b-0fe9e34b2580.png)
default one could be provided

[2019-01-25 22:07] #247 closed

[2019-01-25 22:07] #271 closed

[2019-01-26 05:33] vishnuk7 commented on #87
@Jigar3 @Ace-Bansal Can i work on this issue?

[2019-01-26 11:11] thenullterminator commented on #117
@opencodebot claim

[2019-01-27 10:16] anupm12 commented on #262
Is this issue available for everyone?? @Jigar3 @prateek76 @pradeepgangwar @ananya-agrawal @zerefwayne

[2019-01-27 13:30] thenullterminator commented on #248
@opencodebot claim

[2019-01-27 13:56] ananya-agrawal opened #286 "Add zulip chat link in readme"
Currently there is only slack channel link in readme, add zulip chat link also in readme

[2019-01-27 13:56] anupm12 commented on #286
@opencodebot claim

[2019-01-27 14:14] ananya-agrawal commented on #61
@sourabh1031 github zulip integration is quite easy to do but for that you need to have organisation rights but sorry we can't give you that :stuck_out_tongue:

[2019-01-27 14:30] ananya-agrawal commented on #61
@devgupta2607 you can open an issue to have hover effect on navbar links

[2019-01-27 14:32] ananya-agrawal commented on #61
@punisher1151 what sort of default text you are thinking to put?

[2019-01-27 14:43] sourabh1031 commented on #61
@ananya-agrawal   then  we can try github slack integration i think that does not require admin rights :P

[2019-01-27 15:07] ananya-agrawal commented on #61
@sourabh1031 but we have moved to zulip chat officially :stuck_out_tongue:

[2019-01-27 15:10] ananya-agrawal commented on #61
@Rattlecode17sh yeah, you can open issue to fix cards

[2019-01-27 15:19] ananya-agrawal commented on #63
@sourabh1031 I had myself asked the same question above :sweat_smile:

[2019-01-27 15:30] Rattlecode17sh opened #287 "When viewed in mobile view text goes out of the cards."
![screenshot 45](https://user-images.githubusercontent.com/38866385/51803050-73745580-2276-11e9-9d67-3dcf988c649f.png)

[2019-01-27 15:30] anupm12 commented on #287
@opencodebot claim

[2019-01-27 15:37] anupm12 commented on #286
@opencodebot unclaim

[2019-01-27 15:38] vishnuk7 commented on #286
@opencodebot claim

[2019-01-27 15:45] anupm12 commented on #61
An issue with night mode and pagination -
1. Switch to night mode
2. Then navigate to any page using pagination

The new cards will be in normal mode,
After this turn off night mode and the cards in normal mode will become dark.

[2019-01-27 15:51] anupm12 commented on #61
Images of few participants are in the participant images folder but they are not being displayed.
My image too 😅

[2019-01-27 15:57] sourabh1031 commented on #61
add 'fork me on github' css ribbon .

[2019-01-27 16:01] anupm12 commented on #61
The present spinner looks bad.
It can logo of the website or some other animation which doesn't use bright orange color at least 😅

[2019-01-27 16:02] ananya-agrawal commented on #87
@anupm12 so are you working on this?

[2019-01-27 16:04] anupm12 commented on #87
@ananya-agrawal yes I will
@opencodebot claim

[2019-01-27 16:06] vishnuk7 commented on #242
@ananya-agrawal please close this issue

[2019-01-27 16:06] ananya-agrawal commented on #103
@ujjwal-batra please update about the exact status of this

[2019-01-27 16:11] ananya-agrawal commented on #204
@thesmallstar what does the numbers coming above roll dice means :sweat_smile:

[2019-01-27 16:13] ananya-agrawal commented on #204
@dhairyabaweja make it to get controlled by keyboard nah :stuck_out_tongue:

[2019-01-27 16:15] punisher1151 commented on #61
like "Web Developer" or "Talk is cheap. Show me the code" etc.

[2019-01-27 16:31] ananya-agrawal commented on #245
@Rattlecode17sh haha yaa you can do that as now again its been three days without any activity on the issue

[2019-01-27 16:32] anupm12 commented on #245
@ananya-agrawal
Na I'm done fetching data
I'm only styling it.

[2019-01-27 16:36] vishnuk7 commented on #242
@ananya-agrawal  this issue is already merged, please close this issue

[2019-01-27 17:17] Rattlecode17sh commented on #245
Cool @anupm12.. It's a fair competition let me know if you are stuck somewehere. You can solve this

[2019-01-27 18:32] prateek76 opened #288 "Tech stack is not visible in project cards"
Fix it

[2019-01-27 18:33] anupm12 commented on #288
@opencodebot claim

[2019-01-27 18:37] deepakDOTexe commented on #61
@ananya-agrawal @zerefwayne The Nav-bar gets hidden when we scroll down the page. We can fix it's position at the top even when a user scrolls down the page.

[2019-01-27 19:10] thesmallstar commented on #204
@ananya-agrawal  whattt :P THey mean the numbers you rolled on the dice- You are rolling two dice so- the total score is sum of the score on two dice.

[2019-01-28 05:03] sourabh1031 commented on #61
Participants card images and of mentors should be circle

[2019-01-28 05:05] sourabh1031 commented on #61
Fork and star favicon on website should work as an active link pointing to github repo of project

[2019-01-28 07:56] anupm12 commented on #287
@Rattlecode17sh @ananya-agrawal how many points for this issue?

[2019-01-28 09:08] HGOYAL015 commented on #1
update participants.json

[2019-01-28 09:11] HGOYAL015 opened #289 "update participants.json"
update participants.json

_Originally posted by @HGOYAL015 in https://github.com/opencodeiiita/Opencode-Collaborative-19/pull/281#issuecomment-458047851_

[2019-01-28 12:07] ananya-agrawal commented on #289
@HGOYAL015 why did you open this issue?

[2019-01-28 12:09] ananya-agrawal commented on #287
@anupm12 updated :)

[2019-01-28 12:10] HGOYAL015 commented on #289
Mam It gets opened by mistake
And I try to delete but i wasn't able to do it .

On Mon, 28 Jan 2019, 5:37 pm Ananya Agrawal <notifications@github.com wrote:

[2019-01-28 12:11] #289 closed

[2019-01-28 12:15] ananya-agrawal opened #290 "Compress all the images"
Presently the site is getting too slow mainly due to presence of lots of images. Compress all the images of participants, mentors, projects

[2019-01-28 12:17] deepakDOTexe commented on #290
@opencodebot claim

On Mon, 28 Jan 2019, 5:45 pm opencodebot[bot] <notifications@github.com
wrote:

[2019-01-28 12:17] thenullterminator commented on #290
@opencodebot claim

[2019-01-28 12:35] ananya-agrawal commented on #61
:+1: do open these issues at the earliest

[2019-01-28 12:39] sourabh1031 opened #291 "Fork and star favicon should be active link"
The link should point to GitHub repo of upstream project

[2019-01-28 12:40] sourabh1031 commented on #291
@opencodebot claim

[2019-01-28 12:43] ananya-agrawal opened #292 "Make a chatbot"
Create a facebook page and make a chatbot for that page using services such as chatfuel or dialogflow or wit.ai

Make your bot do something. see bot stores to get ideas about chatbots.

Comment link on fb page at the bottom. Share your creation to the world on fb and tag opencode page. :smile: (that link also comment)
The bots which stands out will get extra credits. Depending on your implementati

[2019-01-28 12:46] ananya-agrawal opened #293 "Use github student pack and using .me domain create a portfolio website"
Using your college id you can avail github student pack which gives lot of offers one among them is free .me domain, use that and link it to your portfolio website.
Link the website created in #206  to the .me domain

Comment down the links below.
Share your website with your friends on fb and tag opencode page :smile:

[2019-01-28 13:00] ananya-agrawal commented on #290
@deepakDOTexe please get this issue done at the earliest possible

[2019-01-28 13:21] sourabh1031 opened #295 "Add fork me on github css ribbon"

[2019-01-28 13:22] sourabh1031 commented on #295
@opencodebot claim

[2019-01-28 13:37] deepakDOTexe commented on #290
@ananya-agrawal All the images are of 30 MB approximately. Please let me know by how much you want me to reduce their size.

[2019-01-28 14:08] zerefwayne opened #296 "Star and fork Cynthesize's repository."
[Repository Link](https://github.com/Cynthesize/frontend)

Post a screenshot here to gain points.

![image](https://user-images.githubusercontent.com/28949397/51841109-d7a91f00-2333-11e9-9e03-1f3ac9cfb7ac.png)

[2019-01-28 14:16] thenullterminator commented on #296
![screenshot from 2019-01-28 19-45-34](https://user-images.githubusercontent.com/46654914/51841781-636f7b00-2335-11e9-8045-c9c1f48cd505.png)
Done

[2019-01-28 14:17] thenullterminator commented on #296
![screenshot from 2019-01-28 19-45-34](https://user-images.githubusercontent.com/46654914/51841811-7d10c280-2335-11e9-952d-4bb4eb7490e2.png)

[2019-01-28 14:17] thenullterminator commented on #296
Done

[2019-01-28 14:41] pradeepgangwar commented on #117
closed in #270

[2019-01-28 14:41] #117 closed

[2019-01-28 14:56] deepakDOTexe commented on #296
Done
![screenshot from 2019-01-28 20-25-39](https://user-images.githubusercontent.com/46655706/51844314-f0690300-233a-11e9-89c0-486e526ae7ee.png)

[2019-01-28 14:56] HGOYAL015 commented on #296
**Done : Starked And Forked**
![image](https://user-images.githubusercontent.com/46818738/51844274-d9c2ac00-233a-11e9-8249-fa8f9a01d9c3.png)
![untitled](https://user-images.githubusercontent.com/46818738/51844353-0aa2e100-233b-11e9-8caa-73d3320d48d4.png)

[2019-01-28 15:11] deepakDOTexe commented on #290
@opencodebot unclaim

On Mon, 28 Jan 2019, 6:30 pm Ananya Agrawal <notifications@github.com wrote:

[2019-01-28 15:11] thenullterminator commented on #290
@opencodebot claim

[2019-01-28 15:19] punisher1151 opened #297 "Add a default quote on cards without having one, on flipping"
like "Talk is cheap. Show me the code" or any other

[2019-01-28 15:19] punisher1151 commented on #297
@opencodebot  claim

[2019-01-28 15:34] anupm12 commented on #61
@ananya-agrawal you have opened this issue.....will I get any points for this? 😅

[2019-01-28 15:37] Rattlecode17sh commented on #296
![screenshot 54](https://user-images.githubusercontent.com/38866385/51846961-b26edd80-2340-11e9-86c4-dcf64f7a2114.png)

[2019-01-28 15:38] anupm12 opened #298 "Images of few participants is not being displayed"
Images of few participants are in the participant images folder but they are not being displayed.

[2019-01-28 15:39] anupm12 opened #299 "Issue with night mode and pagination"
1. Switch to night mode
2. Then navigate to any page using pagination
The new cards will be in normal mode,
After this turn off night mode and the cards in normal mode will become dark.

[2019-01-28 15:41] vishnuk7 commented on #299
@opencode claim

[2019-01-28 15:41] Rattlecode17sh commented on #299
@opencodebot claim

[2019-01-28 15:45] vishnuk7 commented on #299
@anupm12  @ananya-agrawal  i was first to claim then why @rattecode got assigned???

[2019-01-28 15:47] Rattlecode17sh commented on #299
@vishnuk7 you can solve issue #298

[2019-01-28 15:48] Rattlecode17sh commented on #299
Let me try it once if not done you can work on it

[2019-01-28 15:55] prateek76 commented on #299
@vishnuk7 it's @opencodebot :)

[2019-01-28 16:07] prateek76 commented on #297
start working after making the claim

[2019-01-28 16:11] prateek76 opened #300 "star and fork Blowrage repository"
post fork link and a screenshot to gain points
repo - https://github.com/prateek76/Blowrage2

[2019-01-28 16:11] sourabh1031 commented on #298
@opencodebot claim

[2019-01-28 16:14] sourabh1031 commented on #297
@prateek76 even though @punisher1151 made command to claim the issue but issue is still not assigned to him. is it a bug in opencodebot

[2019-01-28 16:17] Rattlecode17sh commented on #300
![screenshot 57](https://user-images.githubusercontent.com/38866385/51849660-35466700-2346-11e9-91df-50086bad522f.png)

[2019-01-28 16:17] thenullterminator commented on #300
![screenshot from 2019-01-28 21-46-39](https://user-images.githubusercontent.com/46654914/51849689-4000fc00-2346-11e9-8e4f-5f778ac469df.png)

[2019-01-28 16:20] sourabh1031 commented on #296
![screenshot from 2019-01-28 21-48-52](https://user-images.githubusercontent.com/25590627/51849933-b7cf2680-2346-11e9-8a8b-136a04d8ae06.png)

[2019-01-28 16:35] prateek76 commented on #297
yes, there can be,you can open an issue in openbot repository regarding this

[2019-01-28 17:02] anupm12 commented on #300
Done

![image](https://user-images.githubusercontent.com/35293695/51852629-7e011e80-234c-11e9-8f6b-98131f816dcc.png)

[2019-01-28 17:03] anupm12 commented on #300
Done

![image](https://user-images.githubusercontent.com/35293695/51852714-a557eb80-234c-11e9-987c-44635046f70d.png)

[2019-01-28 17:03] anupm12 commented on #296
Done

![image](https://user-images.githubusercontent.com/35293695/51852766-c3255080-234c-11e9-838f-ab3db88d4891.png)

[2019-01-28 17:10] punisher1151 commented on #300
![blowrage](https://user-images.githubusercontent.com/42278252/51853215-bd7c3a80-234d-11e9-9dd2-2977aa503b47.png)

[2019-01-28 17:15] punisher1151 commented on #296
![cynthesise](https://user-images.githubusercontent.com/42278252/51853454-5a3ed800-234e-11e9-8fea-73f7e31bb918.png)

[2019-01-28 17:15] Rattlecode17sh commented on #61
![screenshot 58](https://user-images.githubusercontent.com/38866385/51853377-25cb1c00-234e-11e9-834d-c3c365ed9a35.png)

@ananya-agrawal i think after compressing images of participants. Ratio between height and width of cards is unequal. We can fix this

[2019-01-28 17:17] Rattlecode17sh commented on #61
@ananya-agrawal we can also make a leader board in the collaborative website same as in previous editions of open code showing all the contributions and points alloted to participants

[2019-01-28 17:24] devgupta2607 opened #302 "Add hover effects on links in navbar"

[2019-01-28 17:25] devgupta2607 commented on #302
@opencodebot claim

[2019-01-28 17:45] KaushalSahu commented on #300
![screenshot from 2019-01-28 23-13-40](https://user-images.githubusercontent.com/15705036/51855139-7c3a5980-2352-11e9-89fe-1b4b3c378601.png)

[2019-01-28 18:33] Rattlecode17sh commented on #204
Repo Link :- https://github.com/Rattlecode17sh/Color-Game
Live link on codepen :- https://codepen.io/rattlecode17sh/pen/JxKvRG

@ananya-agrawal  i was trying to generate the live link but there was some error in generating the link so i used code pen. I tried netlify but same problem occurred. Is it fine?

[2019-01-28 18:44] neerajd007 commented on #296
Done!
![screenshot from 2019-01-29 00-11-02](https://user-images.githubusercontent.com/44533403/51858470-cf180f00-235a-11e9-86ba-74371127a0cd.png)

[2019-01-28 19:19] ananya-agrawal commented on #16
Closing this issue for now as the issue is not clear about what to do

[2019-01-28 19:19] #16 closed

[2019-01-28 19:20] ananya-agrawal commented on #61
Yeah you will get points :smile:

[2019-01-28 19:35] ananya-agrawal commented on #63
Closing the issue as it is not clear in what to do

[2019-01-28 19:35] #63 closed

[2019-01-28 19:36] anupm12 commented on #61
@ananya-agrawal Issue with active pagination page

![image](https://user-images.githubusercontent.com/35293695/51861408-21a8f980-2362-11e9-97b7-841a4436fac2.png)

[2019-01-28 19:36] ananya-agrawal commented on #87
@anupm12 don't take too many issues in hand man :stuck_out_tongue:

[2019-01-28 19:40] anupm12 commented on #87
@ananya-agrawal I'm almost done with the other two na 😅

[2019-01-28 19:43] ananya-agrawal commented on #87
Haha okay

[2019-01-28 19:49] #242 closed

[2019-01-28 19:50] ananya-agrawal commented on #250
@ujjwal-batra please make a pr first as I am not very sure about what are you exactly talking about

[2019-01-28 19:56] ananya-agrawal commented on #286
@vishnuk7 these kind of issues have very less work to do so get them done at the earliest possible :sweat_smile:

[2019-01-28 19:58] ananya-agrawal commented on #290
@thenullterminator did you start working on this?

[2019-01-28 20:03] ananya-agrawal commented on #61
@anupm12 is navbar coming on scroll? I am not quite sure about that, let me know once

[2019-01-28 20:12] anupm12 commented on #61
@ananya-agrawal Navbar is fixed on scroll.

[2019-01-28 20:17] thenullterminator commented on #290
Yes.....

On Tue, Jan 29, 2019, 1:28 AM Ananya Agrawal <notifications@github.com
wrote:

[2019-01-28 20:33] ananya-agrawal commented on #61
@anupm12 check it once as for me it is not fixed, https://opencodeiiita.github.io/Opencode-Collaborative-19/

[2019-01-28 20:37] anupm12 commented on #61
@ananya-agrawal Yes, It's not fixed, but I was the one who did that and even now on my fork it is fixed

![image](https://user-images.githubusercontent.com/35293695/51864744-92541400-236a-11e9-9f48-913ff5ff1211.png)

[2019-01-28 20:41] anupm12 commented on #61
It should be working fine as my code is still there

![image](https://user-images.githubusercontent.com/35293695/51864879-f37be780-236a-11e9-8a33-fda6f870f9ab.png)

![image](https://user-images.githubusercontent.com/35293695/51864972-363dbf80-236b-11e9-91a7-b50b6e6ee919.png)

[2019-01-28 20:42] palak2001 commented on #61
Issue Suggestion:
Delete the particularly uploaded(useless) file.

[2019-01-28 20:43] palak2001 commented on #297
@opencodebot claim

[2019-01-28 20:56] ananya-agrawal opened #306 "Fill mid term feedback form"
We have covered half of the opencode journey of 1 month.

So here we are floating the feedback form
Form Link: https://goo.gl/forms/UPMdW8IXwDMK3hRX2

P.S you can stay anonymous and tell your views

[2019-01-28 21:16] Rattlecode17sh commented on #306
Done

[2019-01-28 21:20] anupm12 commented on #306
Done.

[2019-01-28 22:24] ujjwal-batra commented on #250
@ananya-agrawal mam pr done.... and both the issues (#103 and #250) are same so i just changed the project card, if it get approved i will change participant and mentor card similarly. and sorry for the delay.

[2019-01-28 22:39] Rattlecode17sh commented on #61
![screenshot 60](https://user-images.githubusercontent.com/38866385/51871102-71e08580-237b-11e9-8273-1703f81f78eb.png)

@ananya-agrawal  i think aditya kumar filled the JSON file twice that's showing 2 cards of him. We can remove one card

[2019-01-28 22:41] Rattlecode17sh commented on #61
okay cool

[2019-01-29 03:05] sourabh1031 commented on #291
@ananya-agrawal please label this issue

[2019-01-29 03:39] thenullterminator commented on #306
Done

[2019-01-29 04:22] zerefwayne opened #309 "If a description is not present of a participant, show a default text "No description available.""
![image](https://user-images.githubusercontent.com/28949397/51884013-86d50d00-23ab-11e9-962a-b206d6beb5eb.png)

[2019-01-29 04:31] zerefwayne opened #310 "Participant's images are being shown as a rectangle."
![image](https://user-images.githubusercontent.com/28949397/51884128-ef23ee80-23ab-11e9-974a-713be21f0bd5.png)

We intend to show them as square and centred images no matter what the size is.

[2019-01-29 04:37] zerefwayne opened #311 "Navigating between the participant pages is taking a lot of time."
I think this is because images are being loaded when a page is requested. Try to pre-fetch the images of the next and previous page.

[2019-01-29 04:37] HGOYAL015 commented on #310
@opencodebot claim

[2019-01-29 04:37] thenullterminator commented on #310
@opencodebot claim

On Tue, Jan 29, 2019, 10:01 AM opencodebot[bot] <notifications@github.com
wrote:

[2019-01-29 04:39] zerefwayne opened #312 "Disable the scroll while preloader is visible."
![image](https://user-images.githubusercontent.com/28949397/51884591-f1874800-23ad-11e9-94f5-9fce37e25d14.png)

[2019-01-29 04:39] HGOYAL015 commented on #310
@opencodebot claim

[2019-01-29 04:41] HGOYAL015 commented on #302
@opencodebot claim

[2019-01-29 04:41] zerefwayne commented on #310
@HGOYAL015 If you've accepted the invitation, try to claim the issue again.

[2019-01-29 04:41] HGOYAL015 commented on #311
@opencodebot claim

[2019-01-29 04:42] zerefwayne commented on #310
Try to solve the issue that has been assigned to you previously.

[2019-01-29 04:42] HGOYAL015 commented on #312
@opencodebot claim

[2019-01-29 06:02] punisher1151 commented on #309
@zerefwayne  the issue was already opened previously
Duplicate of 297#

[2019-01-29 06:07] HGOYAL015 commented on #300
**DONE**
![Uploading image.png…]()

[2019-01-29 06:14] zerefwayne commented on #309
@punisher1151 Thanks. Closing this issue.

[2019-01-29 06:14] #309 closed

[2019-01-29 06:21] Jahanvi21 commented on #310
@opencodebot claim

[2019-01-29 06:35] punisher1151 commented on #297
pull request reference #315

[2019-01-29 06:39] thenullterminator commented on #310
The issue was initially assigned to me and i did not unclaim it. Now should I work on this @zerefwayne.

[2019-01-29 07:31] HGOYAL015 commented on #311
@opencodebot unclaim

On Tue, 29 Jan 2019, 12:59 pm Ayush Verma <notifications@github.com wrote:

[2019-01-29 07:38] anupm12 commented on #311
@opencodebot claim

[2019-01-29 07:39] vishnuk7 commented on #311
@opencodebot claim

[2019-01-29 08:14] chi50800 commented on #300
![repo ss](https://user-images.githubusercontent.com/42766836/51893806-fd820280-23cb-11e9-8ee4-e53497c80e2b.jpg)

[2019-01-29 08:18] chi50800 commented on #296
![repo ss1](https://user-images.githubusercontent.com/42766836/51893983-8a2cc080-23cc-11e9-99b1-6876631c1853.jpg)

[2019-01-29 08:35] sourabh1031 commented on #61
Mentors cards are bit rectangular. fix them as well

[2019-01-29 08:36] sourabh1031 commented on #61
position of the header should be fixed in website

[2019-01-29 09:09] Rattlecode17sh commented on #61
![screenshot_2019-01-29-04-23-40-403 1](https://user-images.githubusercontent.com/38866385/51896985-a8e28580-23d3-11e9-9fa2-6c565ded3788.jpeg)
![screenshot_2019-01-29-04-23-34-204](https://user-images.githubusercontent.com/38866385/51896987-a97b1c00-23d3-11e9-9791-414bc769476d.jpeg)

Same image for two different participants. We can fix this

[2019-01-29 09:12] Rattlecode17sh commented on #61
![screenshot_2019-01-29-04-24-25-622](https://user-images.githubusercontent.com/38866385/51897048-d2031600-23d3-11e9-89b4-a1874da1bd75.jpeg)

Image size is not in same ratio in mobile view. It is little bit shrinked

[2019-01-29 09:48] punisher1151 commented on #311
@zerefwayne after @HGOYAL015 I commented to work in this could you assign me this.

[2019-01-29 10:07] #287 closed

[2019-01-29 10:12] deepakDOTexe commented on #296
Done
![screenshot from 2019-01-29 15-40-38](https://user-images.githubusercontent.com/46655706/51900935-8012be00-23dc-11e9-82cb-6d22699b858d.PNG)

[2019-01-29 10:13] pradeepgangwar commented on #286
Fixed in #305

[2019-01-29 10:13] #286 closed

[2019-01-29 10:14] #290 closed

[2019-01-29 10:16] #297 closed

[2019-01-29 10:18] #295 closed

[2019-01-29 10:19] deepakDOTexe commented on #300
Done
![screenshot from 2019-01-29 15-48-42](https://user-images.githubusercontent.com/46655706/51901337-69b93200-23dd-11e9-9d5a-305c9800aba0.png)

[2019-01-29 14:34] ananya-agrawal commented on #311
@vishnuk7 the issue was claimed by @punisher1151 first so assigning it to him

[2019-01-29 14:39] ananya-agrawal commented on #310
@thenullterminator @Jahanvi21 @HGOYAL015 as the issue was first claimed by @HGOYAL015 so i am assignng the issue to him

[2019-01-29 14:47] ananya-agrawal opened #319 "Share on social media"
Share the cool things you make in Opencode regardless of the repo it is in. Anything you make which you think is cool,share them smile

Tag Opencode page on Facebook.
Post Screenshots or links of posts.

P.S Stories are not applicable for this

[2019-01-29 14:50] ananya-agrawal opened #320 "Add a reading progress bar to the page"

[2019-01-29 14:54] thenullterminator commented on #320
@opencodebot claim

On Tue, Jan 29, 2019, 8:20 PM opencodebot[bot] <notifications@github.com
wrote:

[2019-01-29 16:50] deepakDOTexe commented on #288
Go ahead
@opencodebot unclaim

On Tue, Jan 29, 2019 at 10:16 PM Sourabh Pruthi <notifications@github.com>
wrote:

--
Deepak Katre
Bachelors in Information Technology
IIIT ALLAHABAD, INDIA

[2019-01-29 16:50] prateek76 commented on #288
@deepakDOTexe any progress?

[2019-01-29 16:51] punisher1151 commented on #248
@ananya-agrawal can I take the issue bec no response from assignee

[2019-01-29 16:52] punisher1151 commented on #288
@prateek76 Can I work on this issue

[2019-01-29 16:53] thenullterminator commented on #288
@opencodebot claim

[2019-01-29 16:54] prateek76 commented on #288
@sourabh1031 already commented

[2019-01-29 16:59] dhairyabaweja commented on #306
Done

[2019-01-29 17:02] dhairyabaweja commented on #300
https://github.com/dhairyabaweja/Blowrage2

![openc](https://user-images.githubusercontent.com/34601019/51925750-c0daf900-2415-11e9-964d-99635e21522d.PNG)

[2019-01-29 17:06] dhairyabaweja commented on #296
https://github.com/dhairyabaweja/frontend

![ss2](https://user-images.githubusercontent.com/34601019/51925991-3cd54100-2416-11e9-8690-95a049d8ed1d.PNG)

[2019-01-29 20:20] prateek76 opened #322 "Host your javascript game on itch.io"
link - https://itch.io
this may help - https://itch.io/docs/creators/html5#getting-started/zip-file

comment working game link here

[2019-01-30 05:00] punisher1151 commented on #302
@ananya-agrawal @zerefwayne if @devgupta2607 is busy can I work on this

[2019-01-30 08:36] sourabh1031 commented on #288
@prateek76 when i am placing project.lang above "Tech stack" then it is visible but not in the opposite case
![screenshot from 2019-01-30 14-03-41](https://user-images.githubusercontent.com/25590627/51968469-0809ce00-2498-11e9-8adb-d661946df1ff.png)

[2019-01-30 08:36] sourabh1031 commented on #288
can you please give me idea of what is happening here

[2019-01-30 11:49] sourabh1031 commented on #298
@anupm12  can you please tell me the name of the participants whose images are not visible . it will be quite waste of time to look into each url as the participants are in a greater number

[2019-01-30 13:32] anupm12 commented on #299
@Rattlecode17sh can I work on this, please?

[2019-01-30 13:34] anupm12 commented on #311
@opencodebot claim

[2019-01-30 13:36] anupm12 commented on #311
Only if @punisher1151 is not working then I'll work.

[2019-01-30 14:02] Rattlecode17sh commented on #299
@anupm12 i am working on this. Give me some time bro

[2019-01-30 14:06] anupm12 commented on #299
@Rattlecode17sh Okay sure. Take your own time

[2019-01-30 15:11] devgupta2607 commented on #302
I am working on it

[2019-01-30 16:16] ashish4321 commented on #296
![screenshot 2019-01-30 at 21 44 48](https://user-images.githubusercontent.com/25305613/51995302-75d5ea00-24d8-11e9-803a-5b75c22062ea.png)

[2019-01-30 16:19] ashish4321 commented on #300
![screenshot 2019-01-30 at 21 48 35](https://user-images.githubusercontent.com/25305613/51995530-e54bd980-24d8-11e9-8a02-f4b75bfdfc2f.png)

[2019-01-30 16:26] ashish4321 commented on #306
Done

[2019-01-30 16:37] anupm12 commented on #298
@sourabh1031 I don't remember....I'm sorry

[2019-01-30 17:13] devgupta2607 commented on #302
![hover effect](https://user-images.githubusercontent.com/42816087/51999286-6490db80-24e0-11e9-80f3-cccfb3b717e4.png)
Is the color and shape ok ?

[2019-01-30 17:48] anupm12 commented on #87
@ananya-agrawal @Ace-Bansal Lazy loading has to be applied to images of all sections right?

[2019-01-30 18:07] #262 closed

[2019-01-30 18:37] anupm12 commented on #61
@ananya-agrawal Fork me on GitHub ribbon covers hamburger menu in mobile.

![image](https://user-images.githubusercontent.com/35293695/52003993-1550a800-24ec-11e9-830c-ece559c2064b.png)

[2019-01-30 18:41] anupm12 commented on #61
Make logo and name clickable

![image](https://user-images.githubusercontent.com/35293695/52004232-a6278380-24ec-11e9-9949-1d9e15d91a66.png)

[2019-01-30 19:07] shivhek25 commented on #306
Done

[2019-01-31 03:03] Jigar3 opened #323 "Leaderboard"
1. The leaderboard is hosted at https://opencode19.netlify.com, you all are required to submt the issues you have solved at the above link.
2. Just navigate to `Submit Issue` and fill in the details, the mentors will review each and every issue and if its OK they will accept and the specified points will be added.
3. On the `Search` tab, you could search your username to find the list of issues yo

[2019-01-31 06:09] sourabh1031 commented on #312
@zerefwayne if @HGOYAL015 is busy then i will take up the issue

[2019-01-31 06:10] sourabh1031 commented on #320
@thenullterminator if you are busy can i take this up

[2019-01-31 06:14] thenullterminator commented on #320
Give me some more time I am working on it

On Thu, Jan 31, 2019, 11:42 AM Sourabh Pruthi <notifications@github.com
wrote:

[2019-01-31 09:03] thesmallstar commented on #322
@prateek76  done- https://thesmallstar.itch.io/lucky

[2019-01-31 11:32] prateek76 commented on #322
404 error, is it public? @thesmallstar

[2019-01-31 11:34] vishnuk7 commented on #300
done
![image](https://user-images.githubusercontent.com/31013847/52051649-2ba54500-257a-11e9-997e-01d261b2b1e6.png)

[2019-01-31 11:58] prateek76 opened #325 "Install rebound news chrome extension also star and fork the repo"
link - https://chrome.google.com/webstore/detail/news-extension/anpknlfmlopfgmodgmnflnpjnfcklipa
repo link - https://github.com/prateek76/Rebound-Chrome-Extension

Attach proper screenshots to get points

[2019-01-31 12:01] anupm12 commented on #325
@opencodebot claim

[2019-01-31 12:06] anupm12 commented on #325
Done
![image](https://user-images.githubusercontent.com/35293695/52053172-abcda980-257e-11e9-93b7-9a487a8da25f.png)

[2019-01-31 12:50] thenullterminator commented on #61
@ananya-agrawal The top buttons in leader board are not visible in mobile view

[2019-01-31 14:00] Rattlecode17sh commented on #299
@ananya-agrawal , @prateek76 can i get one more day. I will definitely complete it by tomorrow midnight

[2019-01-31 14:13] ananya-agrawal commented on #299
Yeah take your time @Rattlecode17sh

[2019-01-31 15:51] #298 closed

[2019-01-31 16:03] ananya-agrawal commented on #61
Yeah open issue in leaderboard's repo

[2019-01-31 16:03] ananya-agrawal commented on #61
How are you planning to solve this ?

[2019-01-31 16:05] ananya opened #326 "Fork me on Github ribbon is coming at the time of preloader"
Presently fork me on github ribbon is visible when the preloader is coming, make it not to appear at that time

[2019-01-31 16:07] anupm12 commented on #311
@opencodebot uncliam
I'm still waiting for @punisher1151 to reply

[2019-01-31 16:07] ananya-agrawal opened #327 "Make the links in navbar to change color on hover"
Make the links to participants, mentors etc present in navbar to either change color or to become bold when hovered on.

[2019-01-31 16:07] anupm12 commented on #326
@opencodebot claim

[2019-01-31 16:07] anupm12 commented on #311
@opencodebot unclaim

[2019-01-31 16:08] Rattlecode17sh commented on #325
![screenshot 61](https://user-images.githubusercontent.com/38866385/52067340-68843280-25a0-11e9-8852-9b77d782b898.png)
![screenshot 62](https://user-images.githubusercontent.com/38866385/52067341-68843280-25a0-11e9-83f4-3211b9d11240.png)

[2019-01-31 16:08] anupm12 commented on #326
@opencodebot claim

[2019-01-31 16:09] Rattlecode17sh commented on #327
@opencodebot claim

[2019-01-31 16:10] anupm12 commented on #61
For a mobile screen, this ribbon can be moved to left or we can have a slider kind of thing below the hamburger menu with GitHub logo and hovering on which the slider would slide from right to left with the fork me message.

[2019-01-31 16:33] ananya-agrawal commented on #302
@devgupta2607 just make them either change color to blue or bold on hover, keep it simple.
From next time make a pr and then ask for reviews, it is much easier for us to review in that way

[2019-01-31 16:34] ananya-agrawal commented on #311
@punisher1151 are you working on this?

[2019-01-31 16:37] Rattlecode17sh opened #328 "Two cards for same participant. Fix this"
![screenshot 60](https://user-images.githubusercontent.com/38866385/52069384-a5eabf00-25a4-11e9-8941-fd9a0fbe21f1.png)

[2019-01-31 16:38] Rattlecode17sh commented on #328
@opencodebot claim

[2019-01-31 17:44] anupm12 commented on #61
![image](https://user-images.githubusercontent.com/35293695/52073617-f3b7f500-25ad-11e9-8a30-4096d01156d1.png)

Those border between icons

[2019-01-31 18:09] #245 closed

[2019-01-31 18:13] anupm12 commented on #61
Pagination active content comes over navbar

![image](https://user-images.githubusercontent.com/35293695/52075252-d71dbc00-25b1-11e9-983b-e03ec68a2af9.png)

[2019-01-31 18:31] #328 closed

[2019-01-31 18:54] prateek76 commented on #288
@sourabh1031 make pr for above one, i will review the pr

[2019-01-31 19:03] pradeepgangwar opened #332 "Remove the inactive projects from issues section"
There are some projects mentioned in the issues section which are no longer part of OpenCode. Try to match the list to Projects section.

[2019-01-31 19:05] anupm12 opened #333 "Make logo and name on navbar clickable"
This issue was approved by @ananya-agrawal

![image](https://user-images.githubusercontent.com/35293695/52078476-4e0a8300-25b9-11e9-975a-3e64fd338506.png)

[2019-01-31 19:06] anupm12 commented on #333
@opencodebot claim

[2019-01-31 19:06] anupm12 commented on #333
@ananya-agrawal please give badges to this issue.

[2019-01-31 19:11] #326 closed, assigned to anupm12

[2019-01-31 19:16] anupm12 commented on #332
@thenullterminator @pradeepgangwar I have made the issues section if by any chance @thenullterminator is not working on this issue then let me.

[2019-01-31 19:19] punisher1151 commented on #310
@zerefwayne Can I work on this if hgoyal is busy

[2019-01-31 19:52] #333 closed

[2019-01-31 21:46] harchani-ritik commented on #296
![s](https://user-images.githubusercontent.com/46641571/52087540-c11ef400-25cf-11e9-93b3-7de09df1196b.png)

[2019-01-31 22:13] harchani-ritik commented on #306
Done

[2019-01-31 22:20] #248 closed

[2019-02-01 05:54] pradeepgangwar commented on #312
reassigning due to inactivity.

[2019-02-01 08:34] #288 closed

[2019-02-01 10:46] sourabh1031 commented on #61
Delete duplicate participants details

[2019-02-01 11:33] #312 closed

[2019-02-01 11:36] anupm12 commented on #311
@ananya-agrawal can I work on this??
@opencodebot claim

[2019-02-01 11:44] anupm12 commented on #87
@ananya-agrawal I'm making use of lozad.js and when I use _data-src_ property instead of _src_ the images won't load at all. Can you please suggest me some solution to this.
Also, I wanted to know fetching data from JSON will be static fetching or dynamic fetching?

[2019-02-01 11:47] sourabh1031 commented on #320
@thenullterminator can i take this or you need more time :)

[2019-02-01 12:03] thenullterminator commented on #320
Give me one more day

On Fri, Feb 1, 2019, 5:17 PM Sourabh Pruthi <notifications@github.com wrote:

[2019-02-01 12:31] neerajd007 commented on #300
fork link : https://github.com/neerajd007/Blowrage2
![screenshot from 2019-02-01 17-59-36](https://user-images.githubusercontent.com/44533403/52123172-47c4e700-264b-11e9-89ae-b2734aba6294.png)

[2019-02-01 12:41] neerajd007 commented on #306
Done!

[2019-02-01 14:52] thenullterminator commented on #320
Thanks

On Fri, Feb 1, 2019, 7:59 PM Sourabh Pruthi <notifications@github.com wrote:

[2019-02-01 17:55] ananya-agrawal commented on #61
@anupm12 this is not happening for me, are you sure this is actually happening in the main code. Maybe this is something happening in your fork

[2019-02-01 23:30] Rattlecode17sh opened #338 "Image size is not in same ratio in mobile view for project cards"
![screenshot_2019-01-29-04-24-25-622](https://user-images.githubusercontent.com/38866385/52155178-6d7fd980-26a7-11e9-9916-b4664233d0ae.jpeg)

[2019-02-01 23:30] Rattlecode17sh commented on #338
@opencodebot claim

[2019-02-01 23:52] Rattlecode17sh commented on #338
@ananya-agrawal please assign the marks for this issue

[2019-02-02 00:14] Rattlecode17sh commented on #322
Link for itch.io :- https://rattlecode17sh.itch.io/color-game

[2019-02-02 05:07] shivhek25 commented on #300
![screenshot 2019-02-02 at 10 37 25 am](https://user-images.githubusercontent.com/24766191/52160185-94093900-26d6-11e9-9733-76623ffe7c34.png)

[2019-02-02 05:10] shivhek25 commented on #296
![screenshot 2019-02-02 at 10 39 35 am](https://user-images.githubusercontent.com/24766191/52160204-dfbbe280-26d6-11e9-9c74-882a53f8bbbb.png)

[2019-02-02 05:15] shivhek25 commented on #293
![screenshot 2019-02-02 at 10 44 59 am](https://user-images.githubusercontent.com/24766191/52160238-9fa92f80-26d7-11e9-964f-eb54a8bf373e.png)

![screenshot 2019-02-02 at 10 44 34 am](https://user-images.githubusercontent.com/24766191/52160239-a8016a80-26d7-11e9-87ad-23fceed00059.png)

[2019-02-02 05:16] shivhek25 commented on #325
![image](https://user-images.githubusercontent.com/24766191/52160242-b94a7700-26d7-11e9-8b65-d348e79a74e6.png)
![image](https://user-images.githubusercontent.com/24766191/52160243-bea7c180-26d7-11e9-8778-61f30a6fc921.png)

[2019-02-02 05:40] neerajd007 commented on #325
Done!!
![screenshot from 2019-02-02 11-08-42](https://user-images.githubusercontent.com/44533403/52160420-201d5f80-26db-11e9-8009-8571e2eaa3cc.png)
![screenshot from 2019-02-02 11-09-22](https://user-images.githubusercontent.com/44533403/52160421-201d5f80-26db-11e9-8c30-c2a4206aede4.png)
![screenshot from 2019-02-02 11-09-30](https://user-images.githubusercontent.com/44533403/52160423-20b5f600-26d

[2019-02-02 05:43] neerajd007 commented on #338
@opencodebot claim

[2019-02-02 05:48] sourabh1031 commented on #320
there is no activity on this issue @ananya-agrawal @pradeepgangwar @zerefwayne can you please assign this issue to me

[2019-02-02 06:07] thenullterminator commented on #320
I'm working on it but was waiting for weekend(due to classes)  for final
implementation. If it fetches no outcomes I would msg u before unclaiming.
(sorry for inconvenience)
THANKS

On Sat, Feb 2, 2019, 11:18 AM Sourabh Pruthi <notifications@github.com
wrote:

[2019-02-02 06:08] anupm12 commented on #311
@punisher1151 please respond

[2019-02-02 06:11] anupm12 commented on #299
No activity from @Rattlecode17sh for the past 5 days.
Can you assign it to me?
@ananya-agrawal @prateek76 @pradeepgangwar @Jigar3

[2019-02-02 06:13] anupm12 commented on #87
Mentors please help me.

[2019-02-02 06:19] sourabh1031 commented on #299
@ananya-agrawal @pradeepgangwar @zerefwayne i will work on this

[2019-02-02 07:03] Rattlecode17sh commented on #299
@opencodebot unclaim

[2019-02-02 07:04] sourabh1031 commented on #299
@opencodebot claim

[2019-02-02 07:07] Rattlecode17sh commented on #250
@ananya-agrawal is this issue still open??.. Let me know if i can work on this issue

[2019-02-02 07:14] #325 closed

[2019-02-02 07:14] pradeepgangwar commented on #325
No points will be allocated for this.

[2019-02-02 07:15] pradeepgangwar commented on #300
No points will be allocated for this.

[2019-02-02 07:15] #300 closed

[2019-02-02 07:40] prateek76 commented on #322
404.error, make it public

[2019-02-02 07:45] anupm12 commented on #299
I asked for this issue first and I have been asking for a long time too

[2019-02-02 11:19] Archies11 commented on #204
Repo Link: https://github.com/Archies11/snake
Live Link: https://archies11.github.io/snake/

[2019-02-02 12:11] sourabh1031 commented on #299
@anupm12 you have already solved many expert level issues . please give chance to others. it is not about who asked first but more about learning from opportunities. if i am not able to solve you are welcome to solve

[2019-02-02 12:19] sourabh1031 commented on #61
fork and star favicon is not visible
![screenshot from 2019-02-02 17-47-09](https://user-images.githubusercontent.com/25590627/52164147-d81a2f00-2712-11e9-9bf9-acc8043b85ff.png)

[2019-02-02 13:05] #302 closed

[2019-02-02 13:18] ananya-agrawal opened #342 "Make cards for participant's games"
Make a new section for participant's games and add all the games made in #204 in cards under the section.
A parallel issue to add all the games in the json file is opened so the one working on the issue need not to add all the games in the json also.
Link to json file for games: https://github.com/opencodeiiita/Opencode-Collaborative-19/blob/master/data/games.json

[2019-02-02 13:19] ananya-agrawal opened #343 "Add all the games made by participants under opencode to the json file"
Add all the games made by participants in #204 to the json file : https://github.com/opencodeiiita/Opencode-Collaborative-19/blob/master/data/games.json

[2019-02-02 13:21] thenullterminator commented on #343
@opencodebot claim

On Sat, Feb 2, 2019, 6:49 PM opencodebot[bot] <notifications@github.com
wrote:

[2019-02-02 13:37] anupm12 commented on #342
@opencodebot claim

[2019-02-02 13:40] HGOYAL015 commented on #342
@opencodebot claim

On Sat, 2 Feb 2019, 6:54 pm opencodebot[bot] <notifications@github.com
wrote:

[2019-02-02 13:41] anupm12 commented on #342
So I must wait for @thenullterminator to complete #343

[2019-02-02 13:44] anupm12 commented on #299
@sourabh1031
I agree 😃
You work on this issue. Try to complete it in three days else I shall try this.
agree?

[2019-02-02 13:49] ananya-agrawal commented on #61
They are coming for me, check it again once

[2019-02-02 13:51] ananya-agrawal opened #344 "Add hover effect to footer icons"
Add hover effect similar to that of cards to icons in footer.

[2019-02-02 13:54] anupm12 commented on #311
@opencodebot unclaim
Waiting for @punisher1151 reply.
I'm still open for this issue.

[2019-02-02 13:54] anupm12 commented on #344
@opencodebot claim

[2019-02-02 13:55] anupm12 commented on #344
@ananya-agrawal Do you want that spinning effect that card has on the footer icon?

[2019-02-02 13:56] ananya-agrawal opened #345 "Add personal website field to participant.json cards and display it"
Take the personal websites made in issue #206 and display them.
Add another icon for the website along with the fb, github and twitter icon
![screenshot from 2019-02-02 19-26-29](https://user-images.githubusercontent.com/33188930/52164981-7660c180-2720-11e9-8925-462006ac7b3c.png)

[2019-02-02 13:57] anupm12 commented on #87
@opencodebot unclaim

[2019-02-02 13:58] anupm12 commented on #345
@opencodebot claim

[2019-02-02 14:00] HGOYAL015 commented on #345
@opencodebot claim

On Sat, 2 Feb 2019, 7:26 pm opencodebot[bot] <notifications@github.com
wrote:

[2019-02-02 14:01] vishnuk7 commented on #87
@opencodebot claim

[2019-02-02 14:06] anupm12 commented on #342
Please be quick @thenullterminator
I see that you have taken 2 days for a Rookie issue.
It's a request.

[2019-02-02 14:15] ananya-agrawal commented on #204
@Archies11 why not add scores, and something like GAME OVER also. You can also try adding feature of game over when the snake hit wall also :stuck_out_tongue:

[2019-02-02 14:16] ananya-agrawal commented on #250
@Rattlecode17sh @ujjwal-batra is having an open pr for this so let him respond once to the status of the issue

[2019-02-02 14:19] ananya-agrawal commented on #310
@HGOYAL015 are you still working on the issue? Please let us know about the progress

[2019-02-02 14:20] ananya-agrawal commented on #311
@anupm12 you may start working on this as @punisher1151 is not responding

[2019-02-02 14:21] anupm12 commented on #311
Ok

[2019-02-02 14:22] ananya-agrawal commented on #320
@thenullterminator take your time and try solving this. Ping me if you need any kind of help. :smiley:

[2019-02-02 14:31] thenullterminator commented on #342
I am Dhairya Patel(gender:male)

On Sat, Feb 2, 2019, 7:58 PM Anupam Shukla <notifications@github.com wrote:

[2019-02-02 14:32] thenullterminator commented on #342
😭

On Sat, Feb 2, 2019, 7:58 PM Dhairya Patel <dazz2803@gmail.com wrote:

[2019-02-02 14:32] thenullterminator commented on #342
🧔🧔

On Sat, Feb 2, 2019, 7:59 PM Dhairya Patel <dazz2803@gmail.com wrote:

[2019-02-02 14:35] thesmallstar commented on #322
@prateek76 updated.

[2019-02-02 14:38] ananya-agrawal commented on #342
@thenullterminator haha sorry for that

[2019-02-02 15:36] Archies11 commented on #204
I will try @ananya-agrawal...But is the game approved for now?

[2019-02-02 16:52] vishnuk7 commented on #204
@ananya-agrawal check this out
repo link:-https://github.com/vishnuk7/r-p-s
live link:-https://vishnuk7.github.io/r-p-s/

[2019-02-02 17:17] vishnuk7 commented on #322
Link to itch.io: https://vishnuk7.itch.io/rps

[2019-02-02 17:18] Archies11 commented on #322
Updated.

[2019-02-02 18:01] anupm12 commented on #61
The color behind the logo is different than the background color of the navbar.

![image](https://user-images.githubusercontent.com/35293695/52167553-a0c37680-2742-11e9-9fd9-9d1365b9d585.png)

[2019-02-02 18:03] anupm12 commented on #61
Textfield in the card has a fixed height

![image](https://user-images.githubusercontent.com/35293695/52167567-eed87a00-2742-11e9-8446-da56e2efaa07.png)

[2019-02-02 18:12] punisher1151 commented on #310
@ananya-agrawal if @HGOYAL015 is busy can I take up the issue

[2019-02-02 22:14] HGOYAL015 commented on #310
I need some more time.

On Sat, 2 Feb 2019, 11:42 pm Ayush Verma <notifications@github.com wrote:

[2019-02-03 05:53] Rattlecode17sh commented on #250
Okay cool.. Let him first complete his PR and if not done than @ananya-agrawal assign this to me

[2019-02-03 10:46] sourabh1031 commented on #332
@pradeepgangwar @zerefwayne @prateek76 there is no activity on the issue please assign it to me

[2019-02-03 10:48] anupm12 commented on #204
repo link: https://github.com/anupm12/Snake-game-JS
live link: anupam.netlify.com

[2019-02-03 10:57] thenullterminator commented on #332
I am working on it

On Sun, Feb 3, 2019, 4:16 PM Sourabh Pruthi <notifications@github.com wrote:

[2019-02-03 11:01] anupm12 commented on #322
@prateek76
Done
https://anupm12.itch.io/snake-game

[2019-02-03 11:45] sourabh1031 commented on #299
@anupm12 you can take up the issue. i tried but not able to solve.

[2019-02-03 11:45] sourabh1031 commented on #299
@opencodebot unclaim

[2019-02-03 11:57] Rattlecode17sh commented on #299
@opencodebot claim

[2019-02-03 11:58] anupm12 commented on #299
@Rattlecode17sh I was the first one to ask.

[2019-02-03 12:01] Rattlecode17sh commented on #299
i want to try this again

[2019-02-03 12:05] anupm12 commented on #299
Let me try once and if I could not then you are good to go.

[2019-02-03 12:12] Rattlecode17sh commented on #299
You can solve your previously assigned issues . i think you have 5 issues open in this project only. Give me some time. Don't panic even if you don't solve it even than you are going to win so let me just learn something that i don't know.

[2019-02-03 12:14] Rattlecode17sh commented on #299
And if it's about points you can try this but previously i was busy somewhere that's why not able to give full time to this issue now i am free

[2019-02-03 12:40] Archies11 commented on #319
![capture](https://user-images.githubusercontent.com/45824817/52176859-dc138300-27de-11e9-9383-d3178778ac50.PNG)
Done!

[2019-02-03 12:41] thenullterminator commented on #6
https://resume.github.io/?thenullterminator

[2019-02-03 12:45] zerefwayne commented on #299
Also, opencodebot is there to help us with automatically assigning the issues. Within the right spirit, the correct thing was to let @vishnuk7 work on the issue and guide him to write `opencodebot claim` from the next time.

[2019-02-03 12:47] anupm12 commented on #299
@Rattlecode17sh I'm sorry if I was rude.
You can work on this issue.

[2019-02-03 12:52] anupm12 commented on #299
@zerefwayne I would never want to misbehave but @Rattlecode17sh sent a message speaking about points and replying to the same I sent the last message but he deleted that comment later.

[2019-02-03 12:52] Archies11 commented on #319
![capture](https://user-images.githubusercontent.com/45824817/52176981-aff90180-27e0-11e9-8e3f-a6e291704587.PNG)
Done!

[2019-02-03 12:55] zerefwayne commented on #299
@anupm12 Even if someone else is doing something wrong, there's always a right and diplomatic way to reply on public forums. Anyways, let's concentrate on work. I would appreciate 50+ comments on an issue where healthy discussion is taking place to improve the website.

@Rattlecode17sh you have a day to make a PR for this issue. Assigned to you.

[2019-02-03 13:01] pradeepgangwar commented on #299
@anupm12 Such behavior will not be tolerated anywhere in open source community. Repeating such behavior will lead to serious actions.

[2019-02-03 13:07] shivhek25 commented on #206
https://shivhek25.github.io

[2019-02-03 13:11] anupm12 commented on #299
@zerefwayne @pradeepgangwar I'm sorry.

[2019-02-03 13:12] Anupam-dagar commented on #299
@anupm12 I think you signed the CoC, what you wrote above is a very wrong use of language specifically for open source community. Any such occurrence again,and you will be disqualified no matter what your contributions are till now.

[2019-02-03 13:15] anupm12 commented on #299
@Anupam-dagar ok. 😃

[2019-02-03 13:47] Archies11 commented on #206
https://archies11.github.io/MyWebsite/

[2019-02-03 16:03] #342 closed

[2019-02-03 16:03] #344 closed

[2019-02-03 16:07] neerajd007 commented on #319
Css Car: https://m.facebook.com/story.php?story_fbid=961503564050192&id=100005716722849

CSS Flower: https://m.facebook.com/story.php?story_fbid=961501940717021&id=100005716722849

CSS Cat: https://m.facebook.com/story.php?story_fbid=961501340717081&id=100005716722849

[2019-02-03 16:13] neerajd007 commented on #311
@opencodebot claim

[2019-02-03 19:12] mivishvajeet commented on #204
repo link : https://mivishvajeet.github.io/Car_race/
live link : https://mivishvajeet.itch.io/car-race

[2019-02-03 19:15] mivishvajeet commented on #322
live : https://mivishvajeet.itch.io/car-race

[2019-02-03 19:25] Jigar3 opened #355 "Make a field in Navbar that links to the leaderboard page"

[2019-02-03 19:34] #320 closed

[2019-02-04 00:34] sourabh1031 commented on #61
Hamburger menu is not visible in mobile

[2019-02-04 06:40] mivishvajeet commented on #6
mivishvajeet : http://resume.github.io/?mivishvajeet

[2019-02-04 08:36] sourabh1031 commented on #61
disable horizontal overflow in mobile view

[2019-02-04 10:34] ujjwal-batra commented on #6
ujjwal-batra : http://resume.github.io/?ujjwal-batra

[2019-02-04 10:59] Rattlecode17sh commented on #61
Can we add the Personal website section too??

[2019-02-04 11:37] Rattlecode17sh commented on #299
@zerefwayne if i don't open a PR by midnight than assign this isssue to @anupm12  and sorry if i misbehaved with anyone

[2019-02-04 12:00] #345 closed

[2019-02-04 12:03] prateek76 opened #356 "add go to top button again"

[2019-02-04 12:17] neerajd007 commented on #356
@opencodebot claim

[2019-02-04 13:04] Rattlecode17sh commented on #61
@ananya-agrawal  we can add forks and stars on the projects cards itself fro each and every project so that we can get additional information about project from collaborative website only

[2019-02-04 13:10] Rattlecode17sh commented on #61
We can add a custom scroll bar @ananya-agrawal

[2019-02-04 13:17] Rattlecode17sh commented on #61
We can add a search bar and when we enter name of any project, mentor or participant it should take us to the card of those mentor, participant, project. So that we can directlt get to that card instead of going through pagination

[2019-02-04 13:18] Rattlecode17sh commented on #61
![screenshot 69](https://user-images.githubusercontent.com/38866385/52210531-56aad400-28ad-11e9-8c40-7a9a7641ac3a.png)

Well that facebook effect on right side looks cool in previous edition we can add this in collaborative website this year too

[2019-02-04 13:23] Rattlecode17sh commented on #61
![screenshot 71](https://user-images.githubusercontent.com/38866385/52210779-fec09d00-28ad-11e9-84dd-0368eb86d1cc.png)
In some participant cards images are not uniform. I mean images are not completely overlapped in mobile. We can fix this @ananya-agrawal

[2019-02-04 13:30] Rattlecode17sh commented on #61
Lots of 404 errors in js console. We can fix this

[2019-02-04 13:33] Rattlecode17sh commented on #61
@ananya-agrawal we can hide the navbar in landing page and when we scroll down we can make it appear as it looks really cool after that.

[2019-02-04 13:34] Rattlecode17sh commented on #61
Right now preloader looks very simple we can make it more attractive

[2019-02-04 13:35] Rattlecode17sh commented on #61
We can add svg animations to opencode logo so that it looks cool @ananya-agrawal

[2019-02-04 13:44] ananya-agrawal commented on #61
That is already done

[2019-02-04 13:49] ananya-agrawal commented on #61
https://opencodeiiita.github.io/CodeFemme/ yeah we can do something like done here

[2019-02-04 13:49] ananya-agrawal commented on #61
Add where ?

[2019-02-04 13:52] Rattlecode17sh commented on #61
I mean in collaborative website

[2019-02-04 13:52] ananya-agrawal commented on #61
I guess someone suggested this issue some days back do check once if it was approved or not above

[2019-02-04 13:54] ananya-agrawal commented on #61
Yeah there was an issue created to add personal website link in the participant cards itself, though not sure if it is merged or not

[2019-02-04 13:54] Rattlecode17sh commented on #61
I mean when website loads instead of that preloader right now and we can use opencode logo

[2019-02-04 13:55] Rattlecode17sh commented on #61
Okay i never saw it that's why i suggested this issue

[2019-02-04 14:02] Rattlecode17sh commented on #61
Yeah you are correct it was previously suggested by @punisher1151 .

[2019-02-04 16:45] Rattlecode17sh commented on #299
I think I've messed up with the code and now it's becoming more difficult for me to figure out the problem. @anupm12 go ahead and solve this isssue and tell me what changes you are making.

[2019-02-04 16:46] Rattlecode17sh commented on #299
@opencodebot unclaim

[2019-02-04 16:48] anupm12 commented on #299
@opencodebot claim

[2019-02-04 17:12] #355 closed, assigned to neerajd007

[2019-02-04 19:21] anupm12 opened #359 "Ribbon covers the hamburger menu and responsiveness fix"
![image](https://user-images.githubusercontent.com/35293695/52231478-157fe780-28e0-11e9-9d58-4a52f9df291b.png)

Issue approved by @ananya-agrawal

[2019-02-04 19:21] anupm12 commented on #359
@opencodebot claim

[2019-02-04 19:37] vishnuk7 commented on #206
For some reason gh pages was giving error.
https://viu.netlify.com/

[2019-02-04 21:47] anupm12 commented on #359
@ananya-agrawal @prateek76 Please add labels.

[2019-02-04 23:33] sourabh1031 commented on #61
in pagination of participants and projects area when one goes from one active page to another , after clicking the screen becomes  unscrollable with arrow key. only touch pad works

[2019-02-05 01:18] sourabh1031 opened #361 "disable horizontal overflow in mobile view"

[2019-02-05 01:19] sourabh1031 commented on #361
@opencodebot claim

[2019-02-05 07:12] shivhek25 commented on #204
Repo link : https://github.com/shivhek25/Tic-Tac-Toe
Live link : https://shivhek25.github.io/Tic-Tac-Toe/

[2019-02-05 07:18] shivhek25 commented on #322
Live : https://shivhek25.itch.io/tic-tac-toe

[2019-02-05 07:40] ashish4321 commented on #204
Repo link: https://github.com/ashish4321/Hit-the-dots
Live link: https://ashish4321.github.io/Hit-the-dots/

[2019-02-05 07:50] ashish4321 commented on #322
link: https://ashish4321.itch.io/hit-the-dots

[2019-02-05 08:40] prateek76 commented on #322
no points will be given for download game option

[2019-02-05 08:41] prateek76 commented on #322
make it public

[2019-02-05 10:37] ashish4321 commented on #322
Link: https://ashish4321.itch.io/hit-the-dots
@prateek76 Updated

[2019-02-05 12:46] Jigar3 opened #362 "Resize Cards"
The aspect ratio of every card is not eye pleasing. Make changes so it feels even and good

[2019-02-05 12:47] neerajd007 commented on #362
@opencodebot claim

[2019-02-05 13:18] #356 closed

[2019-02-05 16:56] thenullterminator commented on #359
@opencodebot claim

On Tue, Feb 5, 2019, 10:24 PM opencodebot[bot] <notifications@github.com
wrote:

[2019-02-05 17:17] anupm12 commented on #61
@ananya-agrawal
Problem in sorting
![image](https://user-images.githubusercontent.com/35293695/52291247-f3e23700-2997-11e9-844b-3cca1ec4b622.png)

[2019-02-05 17:40] SuneetKumar19 commented on #204
Repo Link :  https://github.com/SuneetKumar19/Color-Game
Live Link : https://suneetkumar19.github.io/Color-Game/

[2019-02-05 18:00] prateek76 commented on #361
#359 includes this problem

[2019-02-05 19:11] #359 closed

[2019-02-05 19:23] anupm12 commented on #361
@prateek76 Is this solved in my last pr?

[2019-02-05 19:38] #332 closed

[2019-02-05 20:36] prateek76 commented on #361
@sourabh1031 update the issue and solve scrollbar problem and z-index problem of side GitHub link in Mobile view

[2019-02-05 21:00] Rattlecode17sh opened #365 "Hide Navbar in main landing page"
Make it appear after we get down the landing page

[2019-02-05 21:00] Rattlecode17sh commented on #365
@opencodebot  claim

[2019-02-05 21:01] Rattlecode17sh commented on #365
@opencodebot  claim

[2019-02-05 21:02] punisher1151 commented on #365
can I take this

[2019-02-05 21:03] Rattlecode17sh commented on #365
@punisher1151 go ahead

[2019-02-05 21:05] Rattlecode17sh opened #366 "Add a custom scroll bar"

[2019-02-05 21:05] Rattlecode17sh commented on #366
@opencodebot claim

[2019-02-06 05:09] sourabh1031 commented on #61
in mobile view github fork icon hides behind cards and other div it should be above
![screenshot from 2019-02-06 10-37-09](https://user-images.githubusercontent.com/25590627/52321575-70f2c800-29fb-11e9-8d80-b41f97d08d6f.png)

[2019-02-06 05:14] sourabh1031 commented on #361
@prateek76 i am not able to reproduce issue in scrollbar please tell what i need to do

[2019-02-06 09:54] prijeshb commented on #61
@ananya-agrawal  Should give first priority to this
Many request are failed and redudant user profile
![screenshot 161](https://user-images.githubusercontent.com/16492616/52333209-a8c13600-2a22-11e9-9f9e-f4fde22c5f5b.png)
I think so typo https instead of http
![screenshot 163](https://user-images.githubusercontent.com/16492616/52333387-24bb7e00-2a23-11e9-90f0-80a5a9c49373.png)

[2019-02-06 12:50] shivhek25 commented on #343
Since there's been no activity on this issue for the past 4 days, can I work on this issue ? @ananya-agrawal

[2019-02-06 15:25] Rattlecode17sh opened #368 "Fix images of participant cards in mobile view."
![screenshot 86](https://user-images.githubusercontent.com/38866385/52351800-73800c80-2a51-11e9-8be9-3eb778f862cc.png)
![screenshot 85](https://user-images.githubusercontent.com/38866385/52351803-74b13980-2a51-11e9-87ee-42dd8d0b09e2.png)

Aspect ratio of few participants in mobile view is not uniform. Make it uniform so that it looks good

[2019-02-06 15:26] Rattlecode17sh commented on #368
@opencodebot claim

[2019-02-06 16:09] ananya-agrawal commented on #343
@shivhek25 yeah you may work on this

[2019-02-06 16:49] SuneetKumar19 commented on #206
https://suneetkumar19.github.io/Color-Game/

[2019-02-06 17:08] #343 closed

[2019-02-06 17:18] anupm12 commented on #299
Update:
I'm working on this.
Will try to complete by tomorrow :)

[2019-02-06 17:26] anupm12 opened #370 "Content goes out of cards"
![image](https://user-images.githubusercontent.com/35293695/52360552-60c20380-2a62-11e9-8a5a-25f14d533202.png)

Issue approved by @ananya-agrawal

[2019-02-06 17:26] anupm12 commented on #370
@opencodebot claim

[2019-02-06 17:30] anupm12 commented on #361
@sourabh1031
There is a sticky GitHub icon on mobile site which goes behind the cards. This is what z-index problem.
I'm not sure about the scrollbar problem.

[2019-02-06 17:31] anupm12 commented on #370
@ananya-agrawal @prateek76 please add labels.

[2019-02-06 17:35] anupm12 commented on #61
@ananya-agrawal
I think it is not solved.

[2019-02-06 18:23] anupm12 commented on #293
@ananya-agrawal I got my free .me domain.
What next should I do?

[2019-02-06 18:34] #338 closed

[2019-02-06 18:52] anupm12 commented on #61
@ananya-agrawal Duplicate data in participant.json

![image](https://user-images.githubusercontent.com/35293695/52365816-5574d500-2a6e-11e9-9ed6-ab3849a0a11c.png)

[2019-02-06 19:18] Rattlecode17sh commented on #365
@punisher1151 if you are not working on this issue then let me try it once

[2019-02-06 20:30] deepakDOTexe commented on #306
Done!

[2019-02-06 23:01] sourabh1031 commented on #61
@anupm12 i have already mentioned this issue above but not accepted by @ananya-agrawal

[2019-02-06 23:03] sourabh1031 commented on #61
yes @anupm12 @ananya-agrawal the problem was not fixed at that time , check the code once the same logic sorts mentors properly but in participants creates a glitch

[2019-02-07 00:42] sourabh1031 commented on #362
@pradeepgangwar please assign this to me if @neerajd007 is not able to do so

[2019-02-07 08:50] Rattlecode17sh commented on #61
![screenshot 90](https://user-images.githubusercontent.com/38866385/52399865-7f1c1380-2ae3-11e9-98d6-855e20d036fc.png)
@ananya-agrawal  Wall street project is mentioned twice in issues section. Fix this

[2019-02-07 08:57] Rattlecode17sh commented on #61
![screenshot 91](https://user-images.githubusercontent.com/38866385/52400177-6829f100-2ae4-11e9-92f4-6478a4324b66.png)
We can add hover effect on different sections in navbar such as project, mentor and participant to make it more attractive

[2019-02-07 11:48] sourabh1031 commented on #368
@Rattlecode17sh can you please close this issue as i have this in my pr as guided by @prateek76
https://github.com/opencodeiiita/Opencode-Collaborative-19/pull/367

[2019-02-07 11:49] sourabh1031 commented on #368
@prateek76 @ananya-agrawal @pradeepgangwar please give your consent over this issue

[2019-02-07 11:50] sourabh1031 commented on #361
@ananya-agrawal please add label to this issue

[2019-02-07 11:51] sourabh1031 commented on #361
@anupm12 thanks for your help but i am not able to understand what is expected in scroll bar @prateek76 please help me here , or i am sending pr you can guide me there is that fine ?

[2019-02-07 14:27] Rattlecode17sh commented on #368
I am closing this Issue @sourabh1031 . I never saw that issue so i am sorry

[2019-02-07 14:27] #368 closed

[2019-02-07 17:49] ekthapriyesh24 commented on #306
Done

[2019-02-07 18:02] harchani-ritik commented on #6
harchani-ritik : http://resume.github.io/?harchani-ritik

[2019-02-07 21:45] kesari007 commented on #323
@Jigar3 how would my 30 points get updated for the blog i submitted to nybles?

[2019-02-08 08:23] kesari007 commented on #61
After clicking **Participants** in the nav bar once, if we click **Mentor** then it doesnt take us to the mentor section, rather scrolls down just a bit and remains in the participant section.
Same is with **Mentors** and **Projects** when clicked one after other.
@ananya-agrawal

[2019-02-08 08:36] Jigar3 commented on #323
@kesari007 Leave the PR link field empty and fill the reference link field with the blog url :smiley:

[2019-02-08 10:00] Rattlecode17sh commented on #365
@opencodebot claim

[2019-02-08 14:07] agamjotpanesar commented on #204
Repo Link: https://github.com/agamjotpanesar/TicTacToe
Live Link : https://agamjotpanesar.github.io/TicTacToe/

[2019-02-08 14:13] agamjotpanesar commented on #206
https://agamjotpanesar.github.io/TicTacToe/

[2019-02-08 16:06] ananya-agrawal commented on #61
That was done some days back, I don't remember by whom but check it once before doing this

[2019-02-08 17:12] Rattlecode17sh commented on #61
Okay i will check it

[2019-02-08 17:16] Rattlecode17sh opened #376 "Remove technical writing and wall street section mentioned twice in issues section"
![screenshot 90](https://user-images.githubusercontent.com/38866385/52494197-5c792000-2bf3-11e9-9afe-6f1f6a47d817.png)

[2019-02-08 17:16] Rattlecode17sh commented on #376
@opencodebot Claim

[2019-02-08 18:47] kesari007 opened #377 "Mentor when clicked just after Participant in nav bar does not takes to mentor section"
After clicking **Participants** in the nav bar once, if we click **Mentor** then it doesnt take us to the mentor section, rather scrolls down just a bit and remains in the participant section.
Same is with **Mentors** and **Projects** when clicked one after other.

[2019-02-09 01:22] punisher1151 commented on #365
@Rattlecode17sh pls give me some time to do it

[2019-02-09 04:11] Rattlecode17sh commented on #365
Okay

[2019-02-09 04:12] Rattlecode17sh commented on #365
@opencodebot unclaim

[2019-02-09 06:01] Rattlecode17sh commented on #377
@opencodebot claim

[2019-02-09 06:39] SagnikMandal commented on #323
please check out this bug:
https://github.com/opencodeiiita/opencode-leaderboard/issues/2

[2019-02-09 09:36] anupm12 commented on #299
@zerefwayne @Anupam-dagar
I have pushed the changes which solve this problem.
Please review.

[2019-02-09 10:39] nucelya commented on #322
link:  https://nucleya.itch.io/tic-tac-toe-nucleya

[2019-02-09 14:53] sourabh1031 commented on #206
https://sourabh1031.github.io/sourabhpruthi.github.io/

[2019-02-09 15:15] sourabh1031 commented on #204
Repo Link : https://github.com/sourabh1031/Phaser-Platform-Game
Live Link : https://sourabh1031.github.io/Phaser-Platform-Game/

[2019-02-09 23:00] sourabh1031 commented on #310
@prateek76 @pradeepgangwar @ananya-agrawal please review

[2019-02-10 11:38] thesmallstar commented on #206
I also had a backend so I uploaded the website on my hosted server:
Here is the live link :https://truetricks.com/todo/index.php
Why this app?
- Trust issues with other 3rd party todo list apps :P

[2019-02-10 15:05] Anupam-dagar opened #381 "OpenCode'19 Last 2 days"
All the PR's will be accepted only till 23:59:59 PM. Any PR's submitted after that will be closed right away. The PR's subimitted before that time can be reviewed and merged within 24 hrs of requested changes.

[2019-02-10 16:16] vishnuk7 commented on #296
done

![image](https://user-images.githubusercontent.com/31013847/52536183-2d8eb580-2d7d-11e9-885f-3b9d4eb467e9.png)

[2019-02-10 16:39] Rattlecode17sh commented on #381
@Anupam-dagar today is the last day or one more day is remaining??

[2019-02-10 16:52] Anupam-dagar commented on #381
@Rattlecode17sh Updated the comment with the date.

[2019-02-10 17:31] anupm12 commented on #311
@opencodebot unclaim

[2019-02-10 17:31] anupm12 opened #382 "Navbar color and logo background color are different"
Approved by @ananya-agrawal

https://github.com/opencodeiiita/Opencode-Collaborative-19/issues/61#issuecomment-459448096

[2019-02-10 17:31] anupm12 commented on #382
@opencodebot claim

[2019-02-10 17:33] anupm12 opened #383 "Active pagination page comes over navbar"
Reference
https://github.com/opencodeiiita/Opencode-Collaborative-19/issues/61#issuecomment-459448096

[2019-02-10 17:38] ananya-agrawal commented on #311
@anupm12 but you have an open pr for this then why is this unclaimed?

[2019-02-10 17:49] #103 closed

[2019-02-10 17:51] ananya-agrawal commented on #103
Changing points back to 20 as only flipping is done and for flipping it was initially mentioned 20 points

[2019-02-10 17:59] ujjwal-batra commented on #250
@ananya-agrawal mam should i change the card design for mentor cards in this??

[2019-02-10 18:01] #376 closed

[2019-02-10 18:21] anupm12 commented on #319
Done
![capture1234](https://user-images.githubusercontent.com/35293695/52537629-d2fe5500-2d8e-11e9-933d-ef25f7d06aaf.PNG)

[2019-02-10 18:47] Rattlecode17sh commented on #365
As there is no activity on this issue i am claiming this issue

[2019-02-10 18:47] Rattlecode17sh commented on #365
@opencodebot claim

[2019-02-10 18:57] devgupta2607 commented on #383
@opencodebot claim

[2019-02-10 18:59] #366 closed

[2019-02-10 21:23] devgupta2607 commented on #383
There is some issue with pagination. When I click a number, the website stops working like it freezes.

[2019-02-11 00:15] sourabh1031 commented on #362
@ananya-agrawal @pradeepgangwar @prateek76 please assign it to me

[2019-02-11 00:31] sourabh1031 commented on #322
link : https://sourabh1031.itch.io/phaser-platform-game

[2019-02-11 06:44] Rattlecode17sh commented on #322
Link for the game update :- https://rattlecode17sh.itch.io/color

@prateek76 please check it

[2019-02-11 12:11] Rattlecode17sh commented on #206
For some reasons gh pages was giving error : - https://priceless-tesla-ba2383.netlify.com/

[2019-02-11 12:49] Rattlecode17sh commented on #362
Sorry @sourabh1031 i never saw your comment and just made a PR for this issue and after watching your comments i closed my PR. Can i solve this as i am almost done with this issue. And if you want to give it a chance than no problem

[2019-02-11 13:02] sourabh1031 commented on #362
@Rattlecode17sh np :) . you can reopen your pr from my side but please do ask mentors because you solved issue without claiming it

[2019-02-11 13:17] kesari007 commented on #296
Done.

![screenshot from 2019-02-11 18-43-58](https://user-images.githubusercontent.com/25413808/52565653-6dad7100-2e2d-11e9-9050-0a27d479ced1.png)

[2019-02-11 13:25] kesari007 commented on #61
The **arrow** mouse cursor does not change to **Hand** cursor when we hover through **Trailer** in Navbar.

[2019-02-11 13:31] kesari007 commented on #61
The mouse cursor starts to Flicker when placed on respective page in the participant section.
For example if we are at page 2 of participant section and i place the cursor on 2,then the mouse pointer starts to flicker.

[2019-02-11 13:33] kesari007 commented on #61
College name of participant going out of card.

![screenshot from 2019-02-11 19-01-51](https://user-images.githubusercontent.com/25413808/52566358-96366a80-2e2f-11e9-949b-e17ae1d4e69a.png)

[2019-02-11 14:11] Anuj-Mittal commented on #204
Repo Link : https://github.com/Anuj-Mittal/Anuj-Mittal.github.io
Live Link : https://anuj-mittal.github.io/

[2019-02-11 14:12] Anuj-Mittal commented on #206
https://anuj-mittal.github.io/

[2019-02-11 15:28] aswinzz opened #386 "Create a Contribution Page in your portfolio"
Before doing this issue you should have completed https://github.com/opencodeiiita/Opencode-Collaborative-19/issues/293.

Create a new section/page in your portfolio where you should list your **IMPORTANT** contributions that you have made in Opencode'19. Once you have done that comment the link below.

[2019-02-11 16:21] #362 closed

[2019-02-11 16:31] Rattlecode17sh commented on #292
Here is the link for the page:- https://www.facebook.com/Web-On-Roll-792008184501295/?modal=admin_todo_tour

link for chatbot using chatfuel :- https://dashboard.chatfuel.com/#/bot/5c619b910ecd9f2d171b7e7e/structure/5c619b910ecd9f2d171b7e92

Test this chatbot

[2019-02-11 16:37] Rattlecode17sh commented on #292
I am attachig the screenshot for the same

![screenshot_2019-02-11-21-56-00-867](https://user-images.githubusercontent.com/38866385/52578040-6bf1a680-2e49-11e9-8715-3250d91e8e22.jpeg)
![screenshot_2019-02-11-21-55-55-085](https://user-images.githubusercontent.com/38866385/52578042-6bf1a680-2e49-11e9-9c14-b7d2c6d2af1c.jpeg)

[2019-02-11 16:39] Rattlecode17sh commented on #292
I am attaching the screenshot between me and bot

![screenshot 118](https://user-images.githubusercontent.com/38866385/52578208-bf63f480-2e49-11e9-9fdc-da67df5c3825.png)

[2019-02-11 17:15] anupm12 commented on #386
@aswinzz Done
https://web-salon.netlify.com/

[2019-02-11 17:38] anupm12 commented on #383
It loads the content on the next page.
Wait for a few seconds and it should be fine :)

[2019-02-11 17:40] Anupam-dagar opened #388 "Write a blog on your OpenCode'19 experience."
OpenCode'19 is coming to an end. I would request you all to write a blog about your experience with OpenCode'19. I prefer the blog to be on medium but any other good platform will also work.
This blog is mandatory for you to be considered for the final judging, the final date to provide the blog is 14th February 23:59:59.
Also all your points should be submitted for the review by 13th February 23:

[2019-02-11 17:53] anupm12 commented on #382
please add labels.

[2019-02-11 20:53] Rattlecode17sh commented on #386
@aswinzz done only major contributions listed in separate page
https://xenodochial-mahavira-27be38.netlify.com/contribution

[2019-02-11 23:37] devgupta2607 commented on #383
I am not experiencing this issue. Instead on taking pointer to the active number, the pointer is flickering between arrow pointer and hand pointer

[2019-02-12 05:17] prijeshb commented on #323
registered myself and added issuses but not refelecting on leaderboard

[2019-02-12 05:19] Jigar3 commented on #323
@prijeshb When you submit issues, they are sent to the admin for approval, so it takes time to show your approved points on the leaderboard. You can search your username in `Search` section to see the status of every issue you submitted.

[2019-02-12 05:22] vishnuk7 commented on #386
@aswinzz
I finished working on this yesterday you can check my last commit but I actually forgot to comment the link here.
So please consider this.

[2019-02-12 05:29] Jigar3 opened #389 "Create various Plots using Github API"
There are many interesting plots which can be plotted using the GitHub API.
![plot 2](https://user-images.githubusercontent.com/32068121/52613694-f28f9d80-2eb4-11e9-9046-03d6ab5c9fd0.png)
![opencode](https://user-images.githubusercontent.com/32068121/52613695-f3283400-2eb4-11e9-9bb1-cf496fb3ca2d.png)
![hackerskills](https://user-images.githubusercontent.com/32068121/52613697-f3c0ca80-2eb4-11e9-97f

[2019-02-12 07:19] thesmallstar commented on #386
@aswinzz
done - https://truetricks.com/todo/

[2019-02-12 10:26] Archies11 commented on #386
@aswinzz
done - https://archies11.github.io/MyWebsite/

[2019-02-13 18:12] shivhek25 commented on #388
https://medium.com/@shivamsinghal0610/opencode-2019-experience-10d2dccdeb00

[2019-02-14 05:26] neerajd007 commented on #388
https://medium.com/@neerajd1605/my-experience-with-opencode-19-8887d33a39c3

[2019-02-14 05:36] CleverFool77 commented on #388
https://medium.com/@lekhikadugtal/diving-into-the-world-of-open-source-dbe81b5e09bd

[2019-02-14 07:16] sourabhpruthi10 commented on #388
https://medium.com/@sourabh1031/a-short-journey-with-opencode19-e6657321edf1

[2019-02-14 07:33] ashish4321 commented on #388
https://medium.com/@ashishagarwal2223/opencode19-experience-cf5dfa8b6d78

[2019-02-14 15:29] thesmallstar commented on #388
I wrote one on my blog:
https://www.truetricks.com/why-you-should-contribute-to-opensource-my-opencode19-experience/

[2019-02-14 17:18] LalitSharma7 commented on #388
Here is my blog:
https://medium.com/@lalit1701sh/deep-dive-into-open-source-world-e4c7a9950eaf

[2019-02-14 17:28] anupm12 commented on #388
Here is mine
https://medium.com/@shuklaanupam18/my-opencode19-experience-aa7f1d412c33

[2019-02-14 18:01] kesari007 commented on #388
Here it goes!
https://medium.com/@ankurkesharwani/opencode19-my-open-source-journey-from-scratch-40a1493153e4

[2019-02-14 18:04] vishnuk7 commented on #388
https://medium.com/@vishnukraman/my-journey-in-opencode19-845b5a23a987

[2019-02-14 18:15] deepakDOTexe commented on #388
Here I come
https://medium.com/@katredeeps/it-all-started-on-a-stormy-day-when-i-first-saw-github-in-the-eye-dfd9aad8c2c4

[2019-02-14 18:23] devgupta2607 commented on #388
Here is my blog -
https://medium.com/@devgupta2607/opencode19-full-of-opportunities-to-learn-from-92e51da2587a

[2019-02-17 06:36] Anupam-dagar opened #393 "OpenCode'19 results to be declared by first week of march."
The goodies for OpenCode have been delayed due to which we have to shift the result declaration. They will be arriving during the exam time here at IIIT Allahabad due to which we had to shift the result declaration date to first week of march. If you have submitted your blogs and updated your points on the leaderboard then sit back and relax while we complete the process.

[2019-03-06 15:09] sourabhpruthi10 commented on #393
@Anupam-dagar are results announced ?

[2019-03-06 15:10] Anupam-dagar commented on #393
Results will be announced by tomorrow evening.

On Wed, 6 Mar 2019, 20:39 Sourabh Pruthi, <notifications@github.com> wrote:

[2019-03-07 03:37] criticic commented on #393
I believe you should remove the timer from the website and replace it with a text saying competition has ended.
The current state of the timer is meaningless(it's going in negatives )
![abdb](https://user-images.githubusercontent.com/40538506/53930724-6853e700-40b8-11e9-960f-38d42eedea81.PNG)

[2019-03-08 11:25] criticic commented on #393
@Anupam-dagar are results out

[2019-03-08 16:38] Anupam-dagar commented on #393
Hey @theParadoxicalWizard, the plan is to announce the result on the prize distribution ceremony, there are conflicts due to which its getting delayed. It is scheduled for sunday.

[2019-03-10 19:42] kesari007 commented on #393
@Anupam-dagar are the results announced?

[2019-03-10 20:58] Anupam-dagar commented on #393
Results have been computed,It will be declared tomorrow morning.

On Mon, 11 Mar 2019, 01:12 ANKUR KESHARWANI, <notifications@github.com>
wrote:

[2019-03-11 03:52] Anupam-dagar opened #394 "OpenCode 19 Results"
## Winner
@thesmallstar
## Girls Winner
@CleverFool77
## Top Scorer
@Rattlecode17sh

## Top Contributors:
@Archies11
@anupm12
@vishnuk7
@nikolai6303
@sourabh1031
@neerajd007
@ashish4321

Congratulations to all the winners. :tada:  Follow up details for prizes will be taken via email.

[2019-03-11 13:55] anupm12 commented on #394
Congratulations @thesmallstar and @CleverFool77 :)

[2019-03-11 13:57] thesmallstar commented on #394
@anupm12 thank you. Also, I really liked the work you did. It was awesome!

[2019-03-11 13:58] anupm12 commented on #394
@Anupam-dagar
Me and @vishnuk7 are from Mysore, so how will we receive our certificates?

[2019-03-11 14:11] vishnuk7 commented on #394
yes even I want to know

[2019-03-11 14:13] vishnuk7 commented on #394
Congratulations @thesmallstar and @CleverFool77 😃

[2019-03-11 14:48] Anupam-dagar commented on #394
For all the non IIIT Allahabad participants. I'll contact you for the prizes. I'll be contacting you for it after 18th since the official prize distribution will be held after 24th,it didnt happened till now due to delays in logistic and internal conflict of schedule.
We have goodies for all :D

[2019-03-11 15:43] CleverFool77 commented on #394
Congratulations to everyone :tada: :tada:

[2019-03-19 23:48] sourabhpruthi10 commented on #394
@Anupam-dagar any updates for non IIITA participants?

[2019-03-20 09:12] Anupam-dagar commented on #394
@sourabh1031 I haven't forgot about it. I'll send a mail by end of march. :smile:

[2019-03-24 14:51] kesari007 commented on #394
@Anupam-dagar the digital certificates would be given to everyone or only to the winners?

[2019-04-03 11:31] anupm12 commented on #394
@Anupam-dagar What is the status? Haven't received any email from you.

[2019-04-04 15:14] sourabhpruthi10 commented on #394
@kesari007 i think certificate is for all the participants who have successfully made atleast 5 PRs merged

[2019-04-08 17:27] Anupam-dagar commented on #394
Hi, the things are now getting in place, the official prize distribution ceremony is happening day after tomorrow i.e on 10th April 2019. Certificates and every other info about prizes will be mailed to you by this weekend. I appreciate your patience for the same.

[2019-04-11 08:52] vishnuk7 commented on #394
@Anupam-dagar I haven't received email from you.

[2019-04-11 08:54] Anupam-dagar commented on #394
@vishnuk7 can you check your mail which you used to register in opencode.

[2019-04-11 08:55] Anupam-dagar commented on #394
Also for further communications, mail at geekhaven@iiita.ac.in
Further communication here won't be continued.

[2019-04-11 09:23] vishnuk7 commented on #394
I have sent you an email. Please have a look at it.

[2019-04-11 09:55] sourabhpruthi10 commented on #394
has everyone here got the mail regarding the prizes and certificate

[2019-05-09 21:52] devgupta2607 commented on #394
I received a mail regarding getting a goodie bag and I was asked to revert back email with my information. I haven't received any reply yet.

[2019-05-10 02:01] anupm12 commented on #394
@Anupam-dagar  @devgupta2607 Same here. It has been almost 3 months now, the excitement is also gone :(

[2019-05-10 03:21] Anupam-dagar commented on #394
Hi, as I told earlier that shipping might take time. It will reach to you people by the end of the month. Everyone waits for hacktoberfest tshirt too for long time, waiting for this will be worth it too. 😀

[2019-05-10 09:28] sourabhpruthi10 commented on #394
@Anupam-dagar  i didn't get the mail regarding details of my shipping address

[2019-05-11 07:33] Anupam-dagar commented on #394
@sourabh1031 You didn't officially register with us on the website, we didn't had your email address. That was the reason for mail not reaching to you.

[2019-05-11 10:25] sourabhpruthi10 commented on #394
@Anupam-dagar actually i registered for opencode on this https://opencodeiiita.github.io/ even this link was shared  by you as i came to know about this program from you only :D. i don't know where my details blew away from the participant list :P

[2019-05-11 10:28] Anupam-dagar commented on #394
@sourabh1031 I searched using your github username, we had a lot of registrations, maybe their was a typo in your username in the form filled by you. Anyhow, I have sent the mails for prizes to all eligible participants now. You might have received one on the mail with which you contacted me.

[2019-05-11 10:37] ashish4321 commented on #394
@Anupam-Dagar Even i don't remember i received any mail asking for shipping
details?

On Sat, 11 May 2019, 3:58 pm Anupam Dagar, <notifications@github.com> wrote:

[2019-05-11 10:52] kesari007 commented on #394
@Anupam-dagar what about the digital certificates, when would we be receiving that?

[2019-05-11 11:55] sourabhpruthi10 commented on #394
Thanks @Anupam-dagar i got the mail . Maybe its my mistake on my  github username

[2019-05-12 15:12] Anupam-dagar commented on #394
@ashish4321 just today only I saw your email reply on the email which was sent asking for shipping address.

[2019-05-12 15:22] ashish4321 commented on #394
@Anupam-Dagar Okay thanks

On Sun, 12 May 2019, 8:42 pm Anupam Dagar, <notifications@github.com> wrote:

[2019-05-23 10:39] devgupta2607 commented on #394
I have received the goodie bag and t-shirt received is really cool. The stickers and badges received are amazing. It was worth the wait. But no hard-copy certificate or digital certificate have been received.
Thank You @Anupam-dagar and OpenCode IIIT Allahabad.

[2019-05-24 10:40] kesari007 commented on #394
@Anupam-dagar received the t-shirt and the goodie bag. It was really worth the wait! The tee is super cool. Thanks a lot, hoping to get the certificates too, soon.

[2019-05-28 17:15] Anupam-dagar commented on #394
Hi everyone, I hope you all have received your swag bag. Regarding prize money, it will be credited in your account in the month of August. For the digital certificates, by this sunday I will for sure send all the participants their certificates.
Thank you for participating and for your patience dealing with the delays. :smile: